<sidebar></sidebar>
<main>
<div class="container">
  <section class="main">
    <section class="legal ng-scope">
        <div class="row">
            <div class="col s12 ">
                <h2>So geht's:</h2>
                <p>Du willst wissen, wie ein typisches Quadriga Circle Event aussieht? Lade dir hier die Leitfäden zu 
                   Struktur und Ablauf von Talks und Workshops herunter: </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 ">
              <h3>Leitfaden Workshop</h3>
                <div class="waves-effect waves-light btn orange">
                  <span><a target="_blank" style="color:white;" href="{{DOCS_URL}}Leitfaden_Workshop.pdf">Download PDF (100KB)</a></span>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 ">
                <h3>Leitfaden Talk</h3>
                  <div class="waves-effect waves-light btn orange">
                      <span><a target="_blank" style="color:white;" href="{{DOCS_URL}}Leitfaden_Talk.pdf">Download PDF (100KB)</a></span>
                  </div>
            </div>
        </div>
    </section>
  </section>
  <qcfooter></qcfooter>
</div>
</main>
