<nav id="sidebar" class="navbar">
    <ul id="slide-out" class="side-nav fixed sidebar">
            <!--<img src="{{SERVER_PUBLIC_URL}}img/qclogo.png" />-->
            
        <li class="sidebar_linkWrap" *ngIf="(qcuserprofile | async)">
            <a [routerLink]="['/profile/' + (qcuserprofile | async)?.id]" [class.active] class="sidebar_link">
                <img class="sidebar_avatar" alt="{{(qcuserprofile | async)?.firstname}}" src="{{IMAGE_URL}}{{(qcuserprofile | async)?.avatar_data?.name}}" (error)="updateUrl($event)" />
                <p class="sidebar_caption">My Circle</p>
            </a>
        </li>
        <!--<li class="sidebar_linkWrap"  *ngIf="(qcuserprofile | async)">
            <a [routerLink]="['/marketplace']" [class.active] class="sidebar_link">
                <i class="material-icons">dashboard</i>Marktplatz          
            </a>
        </li>-->
        <li class="sidebar_linkWrap"  >
            <a [routerLink]="['/profiles']" [class.active] class="sidebar_link" *ngIf="(qcuserprofile | async)?.firstname">
                <div class="sidebar_icon sidebar_icon-user"></div>
                <p class="sidebar_caption">Mitglieder</p>
            </a>
        </li>
        <li class="sidebar_linkWrap">
            <a [routerLink]="['/events']" [class.active] class="sidebar_link">
                <div class="sidebar_icon sidebar_icon-pin"></div>
                <p class="sidebar_caption">Events</p>
            </a>
        </li>
        <li class="sidebar_linkWrap">
            <a [routerLink]="['/events/new']" [class.active] class="sidebar_link" *ngIf="(qcuserprofile | async)?.firstname">
                <div class="sidebar_icon sidebar_icon-plus"></div>
                <p class="sidebar_caption">Event erstellen</p>
            </a>
        </li>
         <!--<li class="sidebar_linkWrap" *ngIf="(qcuserprofile | async)">
            <a [routerLink]="['/events/prosposal']" [class.active] class="sidebar_link">
                <div class="sidebar_icon sidebar_icon-plus"></div>
                <p class="sidebar_caption">Event vorschlagen</p>
            </a>
        </li>-->
        <li class="sidebar_linkWrap">
            <a [routerLink]="['/faq']" [class.active] class="sidebar_link">
                <div class="sidebar_icon sidebar_icon-question"></div>
                <p class="sidebar_caption">FAQ</p>
            </a>
        </li>
        <!--<div class="sidebar_smallLinkWrap">-->
            <li class="sidebar_linkWrap">
                <a *ngIf="(qcuserprofile | async)" [routerLink]="['/']" (click)="logout()" [class.active] class="sidebar_smallLink">Abmelden</a>
                <a *ngIf="!(qcuserprofile | async)" [routerLink]="['/login']" [class.active] class="sidebar_smallLink">Anmelden</a>
            </li>
            <li class="sidebar_linkWrap">
                <a [routerLink]="['/contact']" [class.active] class="sidebar_smallLink">Kontakt</a>
            </li>
            <li class="sidebar_linkWrap">
                <a [routerLink]="['/info']" class="sidebar_smallLink">So geht's</a>
            </li>
            <li class="sidebar_linkWrap">
                <a [routerLink]="['/imprint']" [class.active] class="sidebar_smallLink">Impressum</a>
            </li>

            <li class="sidebar_linkWrap" *ngIf="(qcuserprofile | async)">
                    <a *ngIf="(qcuserprofile | async).role == 'admin'" [routerLink]="['/settings']" [class.active] class="sidebar_smallLink">Einstellungen</a>
            </li>
        <!--</div>-->
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse orange-text" style='margin-left:20px !important' materialize="sideNav"><i class="material-icons">menu</i></a>
    <div class="navbar_wrap sidebarMobile">
        <div class="container">
            <qcheader></qcheader>
        </div>
    </div>
</nav>
