$white: #ffffff;

$dark: #333638;
$grey: #b2b2b2;
$light-grey: #eeeeee;

$dirty-green: #f8fbfa;

$dark-green: #206051;
$light-green: #209f81;

$blue: #225375;
$light-blue: #0c6fb4;

$orange: #ee7318;

$color-nav-bg: $white;
$color-nav-font: $dark;

$color-main-bg: $dark;
$color-main-font: $white;
