.faq {
    border: none;
    box-shadow: none;

    &_header {
        background: none !important;
        border: none !important;
        padding-left: 0 !important;
    }

    &_body {
        border: none !important;

        p {
            padding-top: 10px !important;
            padding-left: 0 !important;
            padding-bottom: 10px !important;
        }
    }
}