
.home {
    &Nav {
        background: $dark;
        padding: 20px;
        height: 87px;

        @media #{$small-and-down} {
            height: 70px;
        }

        &_button {
            display: block;
            border-radius: 3px;
            letter-spacing: 2px;
            padding: 13px 19px;
            background-color: #ee7318;
            font-size: 13px;
            float: right;
            line-height: 1;
            font-weight: 300;
            margin-top: 4px;
        }

        &_logo {
            background-image: url(/img/static/logo1.png);
            background-size: contain;
            background-repeat: no-repeat;
            width: 380px;
            height: 47px;
            display: block;
            float: left;
            line-height: 1;

            @media #{$small-and-down} {
                width: 240px;
                height: 30px;
            }
        }
    }

    &Hero {
        text-align: center;
        min-height: 0;
        padding: 170px 0;
        background-color: rgb(32, 26, 22);
        background-image: url(/img/static/transparent_team.png);
        background-size: cover;
        background-position: center;

        &-team {
            background-image: url(/img/static/green_team.png);
            margin-top: 80px;
        }

        @media #{$small-and-down} {
            padding-top: 130px;
            padding-bottom: 130px;
        }

        &_container {
            max-width: 900px;
        }

        &_headline {
            font-size: 58px;
            line-height: 64px;
            font-weight: 300;
            color: #fff;
            text-align: center;
            margin: 0;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;

            @media #{$small-and-down} {
                font-size: 30px;
                line-height: 33px;
            }
        }

        &_subline {
            font-size: 22px;
            line-height: 28px;
            letter-spacing: 4px;
            font-weight: 300;
            color: #9c9999;
            margin: 20px auto;
            text-align: center;   

            @media #{$small-and-down} {
                font-size: 18px;
                line-height: 23px; 
                margin: 10px auto;
                letter-spacing: 1px;
            }
        }

        &_button {
            border-radius: 3px;
            font-size: 16px;
            letter-spacing: 2px;
            font-weight: 400;
            padding: 16px 28px;
            background-color: #ee7318;
            display: inline-block;
            line-height: 1;
            margin: 10px 0;
            color: #fff;
            border: none;
            margin-top: 48px;
            -webkit-transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
            -moz-transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
            -ms-transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
            -o-transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
            transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;

            @media #{$small-and-down} {
                font-size: 13px;
                margin-top: 43px;
                letter-spacing: 1px;
            }
        }
    }

    &Col {
        padding: 0 20px !important;

        &_icon {
            display: inline-block;
            height: 95px;
            margin: 20px;

            &-small {
                height: 68px;
                margin-top: 60px;
            }
        }

        &_headline {
            font-size: 30px;
            line-height: 39px;
            letter-spacing: 4px;
            font-weight: 300;

            @media #{$small-and-down} {
                font-size: 22px;
                line-height: 28px;
                letter-spacing: 2px;
            }
        }

        p {
            font-size: 16px;
            line-height: 25px;
            letter-spacing: .5px;
            font-weight: 300;
            color: #1f1f1f;
            margin: 16px 0;
        }
    }

    &Img {
        display: block;
        width: 100%;
    }

    &Section {
        &Headline {
            font-size: 56px;
            font-weight: 300;
            text-align: center;
            margin-top: 96px;
            margin-bottom: 68px;

            @media #{$small-and-down} {
                font-size: 26px;
                line-height: 31px;
                margin-bottom: 40px;
                margin-top: 40px;
            }
        }
    }

    &Form {
        &_label {
            font-size: 16px;
            line-height: 25px;
            letter-spacing: .5px;
            font-weight: 300;
            color: #1f1f1f;
        }
        &_input {
            width: 100%;
            padding: 12px !important;
            margin: 6px 0 24px !important;
            border: 1px solid #ccc !important;
            background: #fafafa !important;
            font-size: 12px !important;
            line-height: normal;
            border-radius: 2px !important;
            color: #1f1f1f !important;
            height: auto !important;
            box-sizing: border-box !important;
        }
        &_textarea {
            width: 100%;
            padding: 12px;
            margin: 6px 0 24px;
            border: 1px solid #ccc;
            background: #fafafa;
            font-size: 12px;
            line-height: normal;
            border-radius: 2px;
            min-height: 100px;
            color: #1f1f1f !important;
        }
        &_button {
            border-radius: 3px;
            font-size: 16px;
            letter-spacing: 2px;
            font-weight: 400;
            padding: 14px 35px;
            background-color: #ee7318;
            display: inline-block;
            line-height: 1;
            margin: 10px 0;
            color: #fff;
            border: none;
            -webkit-transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
            -moz-transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
            -ms-transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
            -o-transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
            transition: background-color .1s 0s ease-in-out,color .1s 0s ease-in-out;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;

            @media #{$small-and-down} {
                font-size: 13px;
                margin-top: 43px;
                letter-spacing: 1px;
            } 
        }
    }

    &Footer {
        &_lightContainer {
            border-top: 1px solid  rgba(31,31,31,.15);
            padding-top: 100px;
            text-align: center;
            margin-top: 80px;
        }
        &_lightLogo {
            display: inline-block;
            width: 225px;
            margin: 30px 0;
        }
        &_lightText {
            font-size: 16px;
            line-height: 25px;
            letter-spacing: .5px;
            font-weight: 300;
            color: #1f1f1f;
            max-width: none;
        }
        &_darkRow {
            background: rgb(51, 54, 57);
            padding-top: 40px;
            padding-bottom: 40px;
            margin: 0;

            &-top {
                padding-top: 100px;
            }
            &-bottom {
                padding-bottom: 80px;
            }
        }
        &_darkLogo {
            display: inline-block;
            width: 208px;
            @media #{$medium-and-down} {
                margin: 40px;
            }
        }
        &_darkCol {
            @media #{$medium-and-down} {
                text-align: center;
            }
        }
        &_darkLink {
            color: rgba(255,255,255,.4);
            border-bottom: 1px solid rgba(255,255,255,.4);
            font-size: 16px;
            line-height: 25px;
            letter-spacing: .5px;
            font-weight: 300;
            display: inline-block;
            margin-bottom: 18px;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
        }
        &_darkText {
            font-size: 16px;
            line-height: 25px;
            letter-spacing: .5px;
            font-weight: 300;
            color: rgba(255, 255, 255, 0.4);
            max-width: none;
            text-align: center;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
        }
    }
}