.qc-icon-delete,
.qc-icon-xing-tiny,
.qc-icon-linkedin-tiny,
.qc-icon-facebook-tiny,
.qc-icon-down,
.qc-icon-faq,
.qc-icon-howto,
.qc-icon-xing,
.qc-icon-linkedin,
.qc-icon-facebook-small,
.qc-icon-gear,
.qc-icon-mail,
.qc-icon-back,
.qc-icon-facebook,
.qc-icon-twitter,
.qc-icon-menu,
.qc-icon-map,
.qc-icon-clock,
.qc-icon-star,
.qc-icon-profile,
.qc-icon-plus,
.qc-icon-pin {
  @extend .qc-icon;
  margin: 0 auto;
}

.qc-icon-delete {
  @include sprite($icon-garbage-tiny-white);
}

.qc-icon-down {
  @include sprite($icon-arrow-down-orange);
}

.qc-icon-gear {
  @include sprite($icon-wheel);
}

.qc-icon-faq {
  @include sprite($icon-question-grey);
}

.qc-icon-howto {
  @include sprite($icon-lightbulb-grey);
}

.qc-icon-xing-tiny {
  @include sprite($icon-xing-tiny-white);

  &:hover,
  &:active {
    @include sprite($icon-xing-tiny-grey);
  }
}

.qc-icon-linkedin-tiny {
  @include sprite($icon-linkedin-tiny-white);

  &:hover,
  &:active {
    @include sprite($icon-linkedin-tiny-grey);
  }
}

.qc-icon-facebook-tiny {
  @include sprite($icon-facebook-tiny-white);

  &:hover,
  &:active {
    @include sprite($icon-facebook-tiny-grey);
  }
}

.qc-icon-xing {
  @include sprite($icon-xing);

  &:hover,
  &:active {
    @include sprite($icon-xing-orange);
  }
}

.qc-icon-linkedin {
  @include sprite($icon-linkedin);

  &:hover,
  &:active {
    @include sprite($icon-linkedin-orange);
  }
}

.qc-icon-facebook-small {
  @include sprite($icon-facebook-small);

  &:hover,
  &:active {
    @include sprite($icon-facebook-small-orange);
  }
}

.qc-icon-mail {
  @include sprite($icon-mail);

  &:hover,
  &:active {
    @include sprite($icon-mail-orange);
  }
}

.qc-icon-back {
  @include sprite($icon-arrow-left);
}

.qc-icon-facebook {
  @include sprite($icon-facebook);

  &:hover,
  &:active {
    @include sprite($icon-facebook-orange);
  }
}

.qc-icon-twitter {
  @include sprite($icon-twitter);

  &:hover,
  &:active {
    @include sprite($icon-twitter-orange);
  }
}

.qc-icon-menu {
  @include sprite($icon-menu);
}

.qc-icon-pin-small {
  @include sprite($icon-pin);
}

.qc-icon-clock {
  @include sprite($icon-clock-grey);
}

.qc-icon-star {
  @include sprite($icon-star);
}

.qc-icon-pin {
  @include sprite($icon-pin-grey);
}

.qc-icon-plus {
  @include sprite($icon-plus-orange);
}

.qc-icon-profile {
  @include sprite($icon-user-grey);
}


.material-icons{
  cursor: pointer;
}