sidebar {
    display: block;    
}

.navbar {
    padding-left: 270px;
    line-height: 1 !important;
    height: auto !important;

    @media #{$medium-and-down} {
        padding-left: 0px;
    }

    .button-collapse {
        line-height: 56px;
    }

    &_bar {
        display: block;
        margin: 0 auto;
        height: 56px;
        @media #{$medium-and-down} {
            text-align: center
        }
        .logo-main {
            float: left;
            margin-top: 40px;
            width: 250px;
            height: 56px;
            background-image: url('/img/Q-Logo-Klein.png');
            background-size: contain;
            background-repeat: no-repeat;
            cursor: pointer;
            @media #{$medium-and-down} {
                margin-top: 10px;
                height: 35px;
                display: inline-block;
                float: none;
                background-position: center;
                background-image: url('/img/Q-Logo-Klein.svg');
                margin-left: -37px;
            }
        }
        h1 {
            float: right;
            font-size: 14pt;
            color: $grey;
            line-height: 56px;
            text-align: right;
            font-weight: 100;
            margin-top: 47px;
        }
    }
}

.sidebar {

    padding-top: 0px;

    &_linkWrap {
        line-height: 1 !important;
        margin-top: 1% ;
    }

    &_smallLink {
        text-align: center !important;
        padding: 10px 0 !important;
        height: auto !important;
        font-size: 14px !important;
        line-height: 1 !important;
    }

    &_smallLinkWrap {
        position: absolute;
        bottom: 0;
        width: 100%;
        min-height: 220px;
        background: #fff;
    }

    &_link {
        text-align: center !important;
        padding: 15px 0 !important;
        height: auto !important;
       
       &:hover{
            border-left: 3px solid red;
       }
    }

    &_icon {
        height: 40px;
        display: inline-block;
        margin-bottom: 11px;
        background-image: url('/img/sprite.png');
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
            background-image: url('/img/sprite@2x.png');
            background-size: 80px 1096px;
        }
        &-circle {
            @include sprite($icon-user-grey, "inline-block");
        }
        &-pin {
            @include sprite($icon-pin, "inline-block");
        }
        &-plus {
            @include sprite($icon-plus-orange, "inline-block");
        }
        &-question {
            @include sprite($icon-question-grey, "inline-block");
        }
        &-user {
            @include sprite($icon-user-grey, "inline-block");
        }
    }
    &_avatar {
        height: 40px;
        width: 40px;
        border-radius: 40px;
        display: inline-block;
        margin-bottom: 11px;
    }

    &_caption {
        display: block;
        color: #b2b2b2;
        font-size: 14px;
        text-align: center;
        line-height: 1 !important;
        margin: 0 !important;
    }
}

.sidebarMobile {
    @media #{$medium-and-down} {
        background: #fff;
    }

}

.side-nav.fixed a {
     text-align: center;
     color: #b2b2b2;
     font-size: 14px;
}