@charset "UTF-8";

// Mixins
// @import "components/prefixer";
@import "components/mixins";
@import "components/color";

// Variables;
@import "components/variables";

// Reset
@import "components/normalize";

// components
@import "components/global";
@import "components/icons-material-design";
@import "components/grid";
@import "components/navbar";
@import "components/roboto";
@import "components/typography";
@import "components/cards";
@import "components/toast";
@import "components/tabs";
@import "components/tooltip";
@import "components/buttons";
@import "components/dropdown";
@import "components/waves";
@import "components/modal";
@import "components/collapsible";
@import "components/chips";
@import "components/materialbox";
@import "components/forms/forms";
@import "components/table_of_contents";
@import "components/sideNav";
@import "components/preloader";
@import "components/slider";
@import "components/carousel";
@import "components/date_picker/default";
@import "components/date_picker/default.date";
@import "components/date_picker/default.time";

@import "base/_sprite";
@import "_colors";
@import "_header";


html{
  font-family: "Open Sans", sans-serif;
}

body{
    background: $dark;
}

.intro{
background:#fff;
}

.container {
    @media #{$medium-and-up} {
     width: 85%;
   }
}

main {
    padding-top: 100px;
    padding-left: 270px;
    padding-bottom: 20px;
    color: #ffffff;
    background-color: #333638;
    @media #{$medium-and-down} {
      padding-left: 0px;
      padding-top: 40px;
    }

    @media #{$small-and-down} { 
        padding-top: 10px;
    }

    h1, h2, h3 {
      font-weight: 300;
    }

    h1 {
      font-size: 55pt;

      @media #{$medium-and-down} {
        font-size: 36px;
      }
    }

    h2 {
      font-size: 26pt;
    }

    h3 {
      font-size: 24px;
    }

    p {
      color: #b2b2b2;
    }

    fieldset {
      border: none;
    }
}

nav{
  background-color: $dark;
}

.navigation__avatar {
    display: block;
    margin: 0 auto 11px;
    width: 40px;
    height: auto;
    border-radius: 50%;
}

.event-preview__profile-image {
    position: relative;
    z-index: 1;
    display: block;
    margin: -40px auto 0;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 4px solid #ffffff;
    cursor: pointer;
}

.card {
  color:#000;
    
    .card-action {
      @media #{$medium-and-down} {
      // styles for medium screens and down
          padding: 5px;
      }
    }

}

.card.small .card-content, .card.medium .card-content, .card.large .card-content {
  &.event {
      max-height: 100%;
      padding-top: 0px;
  }

}

.card .card-content .card-title{
  //height: 60px;
  line-height: 30px;
  overflow: hidden;
  margin-bottom: 15px;
  margin-top: 15px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}


.event-detail-icon{
  margin: 1.46rem 0 1.168rem;
  font-size: 50px;
  color: grey ;
}
.event-image {
  max-height: 84px !important;
}

.event-type{
  font-size: 14pt;
  color: #0c6fb4;
}

.event-topic{
  padding-top: 10px;
  padding-bottom: 5px;
  max-height: 64px;
  overflow: hidden;

  .chip {
    margin: 0 2px;
    background: transparent;
    border: 1px solid color("orange", "lighten-1");
    color: color("orange", "lighten-1");
    padding: 0 7px;
    height: auto;
    margin-bottom: 5px;
    border-radius: 20px;
    line-height: 20px;
    font-size: 12px;
  }
}

.event-date{
  padding-bottom: 15px;
}

.contactAvatar {
  height: 60px;
  width: 60px;
  margin-top: 22px;
  margin-right: 20px;
}

.profileRow {
  margin-bottom: 0;
}

.profileCol {
  padding: 0 20px !important;
  font-size: 14px;

  .chip {
    background: transparent !important;
    color: #fff;
    padding: 0;
    font-size: 14px;

    &:after {
      content: ",";
      margin-right: 5px;
    }

    &:last-child:after {
      display: none;
    }
  }
}

.eventDetailAvatar {
  width: 60px; 
  height: 60px; 
  display: block;
}


.eventDetailHost{
  width: 60px; 
  height: 60px; 
  display: block;
  margin: 20px 0;
}

.eventDetailIcon {
  width: 60px; 
  display: block;
  background-image: url('/img/sprite.png');
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
      background-image: url('/img/sprite@2x.png');
      background-size: 80px 1096px;
  }
  &-clock {
      @include sprite($icon-clock-grey, block);
  }
  &-pin {
      @include sprite($icon-pin-grey, block);
  }
}

.profileAvatar {
  width: 100%;
  display: block;
  margin: 20px 0;
}

.eventNewCheckboxes label,
.profileEditCheckboxes label {
  margin-right: 10px;
  margin-bottom: 10px;

}

.profileEditAvatar {
  width: 60px; 
  height: 60px; 
  display: block;
}

.eventNewRadio {
  height: auto !important;
  b {
    color: #fff;
  }
}

.eventNewTabs {
  a.active {
    color: #fff !important;
  }
  .disabled a {
    color: #ef6c00 !important;
  }
  .indicator {
    background: #ff9800;
  }
}

.orangeOverlay{
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  h2 {
    position: relative;
  }
  .col:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 34%;
    background: #888888;
    opacity: .4;
    left: 0;


  }
}

.eventBookmark {
  position: absolute;
  right: 20px;
  top: 0;
  height: 75px;
  width: 50px;
  background: url(/img/bookmark.png) center no-repeat;
  background-size: contain;
  z-index: 1;
  cursor: pointer;
}

footer{
  margin-top: 80px;
}

footer .logo-footer {
    margin: 0 auto 22px;
    width: 162px;
    height: 36px;
    background-size: 100%;
    background-image: url(/img/logo-footer.png);
}
footer p {
    margin: 0 auto;
    max-width: 24em;
    font-size: 10pt;
    color: #b2b2b2;
}

.pagination {
  li {
    vertical-align: middle;
    &.active {
      background: #ff9800;
    }
    a {
      color: #ff9800;
    }
    &.disabled,
    &.disabled a {
      color: #444;
    }
  }
}

@media only screen and (min-width: 1401px) {
  .row .col.xl4 {
      width: 33.33333%;
      margin-left: auto;
      left: auto;
      right: auto;
  }
}

input:not([type]).ng-invalid, 
input:not([type]):focus.ng-invalid, 
input[type=text].ng-invalid, 
input[type=text]:focus.ng-invalid, 
input[type=password].ng-invalid, 
input[type=password]:focus.ng-invalid, 
input[type=email].ng-invalid, 
input[type=email]:focus.ng-invalid, 
input[type=url].ng-invalid, 
input[type=url]:focus.ng-invalid, 
input[type=time].ng-invalid, 
input[type=time]:focus.ng-invalid, 
input[type=date].ng-invalid, 
input[type=date]:focus.ng-invalid, 
input[type=datetime].ng-invalid, 
input[type=datetime]:focus.ng-invalid, 
input[type=datetime-local].ng-invalid, 
input[type=datetime-local]:focus.ng-invalid, 
input[type=tel].ng-invalid, 
input[type=tel]:focus.ng-invalid, 
input[type=number].ng-invalid, 
input[type=number]:focus.ng-invalid, 
input[type=search].ng-invalid, 
input[type=search]:focus.ng-invalid, 
textarea.materialize-textarea.ng-invalid, 
textarea.materialize-textarea:focus.ng-invalid {
  border-bottom: 1px solid #F44336;
  box-shadow: 0 1px 0 0 #F44336;
}

input[type=radio].ng-invalid + label:before {
  border-color: red;
}

@import "_home";
@import "_sidebar";
@import "_faq";

