<sidebar></sidebar>
<main>
    <div class="container">

        <h2>Fragen?</h2>

        <div class="row">
            <div class="col s12 l6">
                <form  *ngIf="!isSent" (ngSubmit)="onSubmit()" [formGroup]="contactForm">
                    <h3>Kontaktformular</h3>
                    <br/>
                    <label for="name">Vor- und Nachname</label>
                    <input type="text" formControlName="name">
                    <label for="email" >E-Mail</label>
                    <input type="text" formControlName="email">
                    <br/>
                    <br/>
                    <label for="phone">Telefon (optional)</label>
                    <input type="text" formControlName="phone">
                    <br/>
                    <br/>
                    <label for="message">Deine Nachricht </label>
                    <textarea  materialize="characterCounter" formControlName="message" length="250" placeholder="Fragen/Anregungen/..." class="materialize-textarea" required></textarea>
                    <img *ngIf="showCaptcha" src="{{CAPTCHA_URL}}">  <i *ngIf="showCaptcha"  (click)="changeCaptcha()" class="material-icons">replay</i><br>
                    <label *ngIf="showCaptcha" for="captcha">Verification</label>
                    <input  *ngIf="showCaptcha" type="text" formControlName="captcha">
                    <br/>
                    <br/>
                    <input class="waves-effect waves-light orange btn" 
                     [ngClass]="{disabled : !contactForm.valid }"
                    [disabled]="!contactForm.valid" type="submit" value="Kontakt aufnehmen">
                    <input class="waves-effect waves-light orange btn" type="reset" value="Zurücksetzen">
                </form>
            </div>
            <div class="col s12 l6">
                <div class="row">
                    <div class="col s3 l4 right-align">
                        <img class="circle contactAvatar" src="img/personal-contact.jpg" alt="">
                    </div>
                    <div class="col s9 l8">
                        <h3>Persönliche<br/>Ansprechpartnerin</h3>
                        <p>Carina Gabriel</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact-container">
            <article class="personal-contact">

            </article>

            <article class="contact-message" *ngIf="(isSent === true && isError === false)">
                <p class="success">Vielen Dank für deine Nachricht! <br>Wir melden uns so bald wie möglich bei dir!</p>
            </article>

            <article class="contact-message" *ngIf="isError">
                <p class="error"></p>
            </article>


        </div>
        <qcfooter></qcfooter>
    </div>
</main>