$icon-linkedin-tiny-grey: -0px -0px 12px 12px;
$icon-xing-tiny-grey: -0px -12px 12px 12px;
$icon-facebook-tiny-grey: -0px -24px 12px 12px;
$icon-facebook-tiny-white: -0px -36px 12px 12px;
$icon-linkedin-tiny-white: -0px -48px 12px 12px;
$icon-garbage-tiny-white: -0px -60px 12px 12px;
$icon-xing-tiny-white: -0px -72px 12px 12px;
$icon-arrow-left: -0px -84px 8px 13px;
$icon-wheel: -0px -97px 15px 15px;
$icon-star: -0px -111px 15px 15px;
$icon-facebook: -0px -126px 16px 16px;
$icon-mail-orange: -0px -142px 16px 16px;
$icon-mail: -0px -158px 16px 16px;
$icon-facebook-orange: -0px -174px 16px 16px;
$icon-twitter: -0px -190px 16px 16px;
$icon-twitter-orange: -0px -206px 16px 16px;
$icon-arrow-down-orange: -0px -222px 16px 16px;
$icon-menu: -0px -238px 25px 18px;
$icon-facebook-small-orange: -0px -256px 20px 20px;
$icon-linkedin-orange: -0px -276px 20px 20px;
$icon-facebook-small: -0px -296px 20px 20px;
$icon-xing: -0px -316px 20px 20px;
$icon-linkedin: -0px -336px 20px 20px;
$icon-xing-orange: -0px -356px 20px 20px;
$icon-plus: -0px -376px 40px 40px;
$icon-pin-grey: -0px -416px 32px 40px;
$icon-question-orange: -0px -456px 40px 40px;
$icon-question: -0px -496px 40px 40px;
$icon-right: -0px -536px 40px 40px;
$icon-plus-orange: -0px -576px 40px 40px;
$icon-plus-grey: -0px -616px 40px 40px;
$icon-pin: -0px -656px 32px 40px;
$icon-question-grey: -0px -696px 40px 40px;
$icon-user-grey: -0px -736px 40px 40px;
$icon-user-right: -0px -776px 40px 40px;
$icon-user: -0px -816px 40px 40px;
$icon-lightbulb: -0px -856px 40px 40px;
$icon-lightbulb-grey: -0px -896px 40px 40px;
$icon-clock: -0px -936px 40px 40px;
$icon-clock-grey: -0px -976px 40px 40px;
$icon-user-blank: -0px -1016px 80px 80px;
@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}
@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}
@function sprite-width($sprite) {
   @return nth($sprite, 3);
}
@function sprite-height($sprite) {
   @return nth($sprite, 4);
}
@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x $sprite-offset-y;
}
@mixin sprite($sprite, $display: block) {
   @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: $display;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

.qc-icon {
  background-image: url('/img/sprite.png');
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  .qc-icon {
    background-image: url('/img/sprite@2x.png');
    background-size: 80px 1096px;
  }
}
