<div class="intro">
    <header class="homeHeader">
        <nav class="homeNav">
            <a href="index.html" class="homeNav_logo"></a>
            <a [routerLink]="['/login/']" *ngIf="(qcuserprofile | async)==null" class="waves-effect orange waves-light btn right hide-on-small-only">Login</a>
            <a [routerLink]="['/events/']" *ngIf="(qcuserprofile | async)" class="waves-effect orange waves-light btn right hide-on-small-only">Jetzt Loslegen</a>
        </nav>
    </header>

    <div class="row homeHero intro">
        <div class="container homeHero_container">
            <h1 class="homeHero_headline">Willkommen beim internen Weiterbildungsnetzwerk von und für Quadriga-Kollegen! </h1>
            <h3 class="homeHero_subline">Kollegen-Colleges, Onboarding, Teambuilding</h3>
            <a [routerLink]="['/login/']" *ngIf="(qcuserprofile | async)==null" class="waves-effect orange waves-light btn center">Jetzt anmelden</a>
            <a [routerLink]="['/events/']" *ngIf="(qcuserprofile | async)" class="waves-effect orange waves-light btn center">Jetzt Loslegen</a>
        </div>
    </div>

    <div class="row intro">
        <div class="container">
            <h1 class="homeSectionHeadline">Worum geht's?</h1>
        </div>
    </div>

    <div class="row intro">
        <div class="container">
            <div class="video-container">
                <iframe width="853" height="480" src="//www.youtube.com/embed/MtUZZ87S1jQ" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="row intro">
        <div class="container">
            <div class="col l4 s12 center-align homeCol">
                <img class="homeCol_icon homeCol_icon-small" src="img/static/team.png">
                <p><b>Wer?</b></p>
                <p>Alle Quadriga Media-Kollegen, die an interdisziplinären oder fachbezogenen Kollegen-Colleges teilnehmen oder
                    selbst ein Weiterbildungs-Event anbieten möchten.</p>
            </div>
            <div class="col l4 s12 center-align homeCol">
                <img class="homeCol_icon homeCol_icon-small" src="img/static/bulb.png">
                <p><b>Was?</b></p>
                <p>Auf der Quadriga Circle-Plattform findet und organisiert ihr alle internen Weiterbildungen - sei es in Form
                    von Einführungsveranstaltungen, informativen Vorträgen (Talks) oder interaktiven Workshops.</p>
            </div>
            <div class="col l4 s12 center-align homeCol">
                <img class="homeCol_icon homeCol_icon-small" src="img/static/chat.png">
                <p><b>Wie?</b></p>
                <p>Einmal angemeldet, könnt ihr alle Kollegen-Colleges einsehen, spannende Angebote vormerken und euch mit einem
                    Klick anmelden. Außerdem habt ihr die Möglichkeit, selbst Events einzustellen und jederzeit zu editieren.</p>
            </div>
        </div>
    </div>

    <div class="row intro">
        <div class="container">
            <h1 class="homeSectionHeadline">Das erwartet dich</h1>
        </div>
    </div>

    <div class="row intro">
        <div class="container">
            <div class="carousel carousel-slider">
                <a class="carousel-item" href="#one!"><img src="img/static/_L3B0135.png"></a>
                <a class="carousel-item" href="#two!"><img src="img/static/_L3B0135.png"></a>
                <a class="carousel-item" href="#three!"><img src="img/static/_L3B0135.png"></a>
                <a class="carousel-item" href="#four!"><img src="img/static/_L3B0135.png"></a>
            </div>
        </div>
    </div>

    <div class="row intro">
        <div class="container">


            <div class="row intro">

                <div class="col l4 m6 s12" *ngFor="let event of qceventitems | async | slice:0:3 |qceventtopicsearch:topicSearch | qceventsearch:searchQuery"
                    class="event-preview event-preview--{{ event.type }} animate-repeat" [ngClass]="{isbookmarked: event.isBookmarked}">

                    <div class="card large hoverable">
                        <div class="card-image">
                            <img alt="" src="{{IMAGE_URL}}{{(event)?.avatar_data?.name}}">
                        </div>
                        <a [routerLink]="['/profile/', event.user.id ]"><img class="event-preview__profile-image" alt="" src="{{SERVER_URL}}renderImage/250/250/{{(event.user)?.avatar_data?.name}}"></a>
                        <div class="card-content event">
                            <div class="user-name center-align">{{ event.user.title }} {{ event.user.firstname }} {{ event.user.suffix }} {{ event.user.lastname
                                }} <br ng-if="event.user.company"> {{ event.user.company }}</div>
                            <div class="event-type center-align">{{ event.type | capitalize }}</div>
                            <div class="divider"></div>
                            <div class="card-title activator center-align">{{ event.title }}</div>
                            <div class="event-description  center-align truncate" style="height:20px">{{event.description}}</div>
                            <div class="event-topic center-align" [innerHTML]="event.topic | qcsplitwrapjoin "></div>
                            <div class="event-date center-align" style="height:20px;margin-bottom:10px">{{ event.time | amDateFormat: 'dddd, DD.MM.YYYY' }} in {{ event.host_city }}</div>
                        </div>
                        <div class="card-action" *ngIf="(qcuserprofile | async)?.firstname != ''" >
                            <a class="waves-effect orange waves-light btn right" [routerLink]="['/events/' + event.id]" [ngClass]="{disabled: (event.attendee_count >= event.max_attendees) }">Ansehen</a>
                            <a class="waves-effect waves-light btn-flat left" (click)="toggleBookmark(event)">{{ !event.isBookmarked ? 'Merken' : 'Vergessen' }}</a>
                        </div>
                        <div *ngIf="(qcuserprofile | async)==null" class="card-action text-center">
                                <a  class="waves-effect orange waves-light btn center-block" style="display:block !important;" [routerLink]="['/login']" >Jetzt Anmelden</a>
                        </div>
                        <div *ngIf="(qcuserprofile | async) && (qcuserprofile | async)?.lastname==''" class="card-action text-center">
                            <a  class="waves-effect orange waves-light btn center-block" style="display:block !important;" [routerLink]="['/profile/edit']" >Profil vervollständigen</a>
                        </div>
                        <div class="card-reveal">
                            <div class="card-title grey-text text-darken-4" style="padding-right: 40px;">{{ event.title }}<i class="material-icons right" style="position: absolute; right: 20px; top: 25px;">close</i></div>
                            <p>{{event.description}}</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <div class="row intro">
        <div class="container">
            <h1 class="homeSectionHeadline">Das berichten Kollegen</h1>
        </div>
    </div>

    <div class="row intro">
        <div class="container">
            <div class="col l4 s12 center-align homeCol">
                <img class="homeCol_icon" src="img/static/person4.png">
                <p><b>Gregor Ringsdorf</b></p>
                <p>Trainer</p>
                <p>„Ich gebe erworbenes Know-how nicht nur weiter, sondern lasse es auch kritisch hinterfragen, was mich persönlich
                    weiterbringt. Darüber hinaus freue ich mich, wenn mein vermitteltes Wissen zum Erfolg des gesamten Unternehmens
                    beiträgt.“</p>
            </div>
            <div class="col l4 s12 center-align homeCol">
                <img class="homeCol_icon" src="img/static/person1.png">
                <p><b>Lisa Ernsting</b></p>
                <p>Teilnehmerin</p>
                <p>„Wissensverbreitung in den eigenen Reihen, von der am Ende alle profitieren.“</p>
            </div>
            <div class="col l4 s12 center-align homeCol">
                <img class="homeCol_icon" src="img/static/person2.png">
                <p><b>Judith Schuldreich</b></p>
                <p>Trainerin</p>
                <p>„Kollegen-Colleges zum Thema Social Media zu geben, heißt für mich nicht nur lehren, sondern auch lernen
                    – neue Perspektiven, Fragestellungen und Herangehensweisen, die mich nicht nur als Dozent, sondern auch
                    im Arbeitsalltag voranbringen.“</p>
            </div>
        </div>
    </div>

    <div class="row homeHero homeHero-team intro">
        <div class="container homeHero_container">
            <h1 class="homeHero_headline">Probier's selbst aus!</h1>
            <a [routerLink]="['/register']" class="waves-effect orange waves-light btn center">Jetzt anmelden</a>
        </div>
    </div>

    <div class="row intro">
        <div class="container">
            <h1 class="homeSectionHeadline"></h1>
        </div>
    </div>

    <div class="row intro">
        <div class="container">
            <div class="col l6 s12 homeCol">
                <h3 class="homeCol_headline">Profitiere von unserem exklusiven Weiterbildungsnetzwerk</h3>
                <p>Erstelle ganz einfach ein Weiterbildungsevent für deine Kollegen oder stöbere nach Angeboten, die dich und
                    deine Berufspraxis voranbringen.<br/><br/><br/></p>
            </div>
            <div class="col l6 s12">
                <img class="homeImg" src="img/static/screen.png" />
            </div>
        </div>
    </div>

    <div class="row intro">
        <div class="container">
            <h1 class="homeSectionHeadline">Du hast Fragen?</h1>
        </div>
    </div>

    <div class="row intro">
        <div class="container">
            <div class="col l6 s12">
                <form (ngSubmit)="onSubmit()" [formGroup]="contactForm">

                    <label class="homeForm_label" for="email">Deine E-Mail*</label>
                    <input class="homeForm_input" id="email" formControlName="email" />
                    <label class="homeForm_label" for="question">Deine Frage*</label>

                    <textarea class="homeForm_textarea" id="question" formControlName="message"></textarea>
                    <img *ngIf="showCaptcha" src="{{CAPTCHA_URL}}"> <i *ngIf="showCaptcha" (click)="changeCaptcha()" class="material-icons">replay</i><br>
                    <label *ngIf="showCaptcha" for="captcha">Verification</label>
                    <input *ngIf="showCaptcha" type="text" formControlName="captcha">
                    <button class="btn waves-effect waves-light orange " 
                     [ngClass]="{disabled : !contactForm.valid }"
                    [disabled]="!contactForm.valid" >  Absenden <i class="material-icons right">send</i>
  </button>
                    
                </form>
            </div>
            <div class="col l6 s12 center-align homeCol">
                <p><b>Melde dich bei</b></p>
                <img class="homeCol_icon" src="img/static/person3.png">
                <p><b>Carina Gabriel</b></p>
                <p>HR Managerin</p>
                <p>030 84 85 9 263</p>
                <p>carina.gabriel@quadriga-media.com</p>
            </div>
        </div>
    </div>

</div>

<footer class="homeFooter intro">
    <div class="row intro">
        <div class="container homeFooter_lightContainer">
            <p class="homeFooter_lightText">Das interne Weiterbildungsnetzwerk der Quadriga Media Berlin GmbH</p>
            <img class="homeFooter_lightLogo" src="img/static/logo2.png">
        </div>
    </div>
    <div class="row homeFooter_darkRow homeFooter_darkRow-top">
        <div class="container">
            <div class="col l6 s12 homeFooter_darkCol">
                <a [routerLink]="['/events']" class="homeFooter_darkLink">Events</a>
                <br/>
                <a [routerLink]="['/faq']" class="homeFooter_darkLink">FAQ</a>
                <br/>
                <a [routerLink]="['/imprint']" class="homeFooter_darkLink">Impressum</a>
                <br/>
            </div>
            <div class="col l6 s12 right-align homeFooter_darkCol">
                <img class="homeFooter_darkLogo" src="img/static/logo3.png" />
            </div>
        </div>
    </div>
    <div class="row homeFooter_darkRow">
        <div class="container">
            <p class="homeFooter_darkText">Aus Gründen der besseren Lesbarkeit wird auf die gleichzeitige Verwendung männlicher und weiblicher Sprachformen
                verzichtet. Sämtliche Personenbezeichnungen gelten gleichermaßen für beiderlei Geschlecht.</p>
        </div>
    </div>
    <div class="row homeFooter_darkRow homeFooter_darkRow-bottom">
        <div class="container">
            <p class="homeFooter_darkText">© 2016 Quadriga Media Berlin GmbH</p>
        </div>
    </div>
</footer>