<sidebar></sidebar>
<main>
<div class="container">

    <div class="row">
      <div class="col s12 l6">

        <h2 class="qc-header">Login</h2>
        <!--
        <div ng-show="vm.loginError" class="register-block__error">
          <p>vm.loginErrorText</p>
        </div>
        -->
        <br/>
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
          <label for="email">E-Mail</label>
          <input formControlName="email" >
          <br/>
          <br/>
          <label for="password">Passwort</label>
          <input formControlName="password" type="password">
          <br/>
          <br/>
          <input class="waves-effect waves-light orange btn" type="submit" value="Anmelden" [disabled]="!loginForm.valid" >
          <br/>
          <br/>
          <br/>
          <a [routerLink]="['/register']" class="button button--clear" href="#">Noch kein Mitglied? Jetzt hier registrieren</a>
          <br/>
          <br/>
          <a [routerLink]="['/password']" class="button button--clear" href="#">Passwort vergessen? Jetzt hier zurücksetzen</a>
        </form>

      </div>
      <div class="col s12 l6">
      </div>
    </div>

    <qcfooter></qcfooter>

  </div>

</main>