<sidebar></sidebar>
<main>
<div class="container">

    <div class="row">
      <div class="col s12 l6">

        <h2 class="qc-header">Registrieren</h2>
        <div>
          <p>Melde dich jetzt an, um vom Know-how deiner Kollegen zu profitieren und dein Wissen zu teilen</p>
        </div>
        <br/>
        <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
          <label for="email">E-Mail</label>
          <input type="email" formControlName="email" >
          <br/>
          <br/>
          <label for="password">Passwort</label>
          <input formControlName="password" type="password">
          <br/>
          <br/>
          <input class="waves-effect waves-light orange btn" type="submit" value="Registrieren" [disabled]="!registerForm.valid" >
          <br/>
          <br/>
          <br/>
        </form>

      </div>
      <div class="col s12 l6">
      </div>
    </div>

           <input type="hidden" data-target="modal1" materialize="leanModal" [materializeParams]="[{dismissible: false}]">

        <div id="modal1" class="modal">
            <div class="modal-content">
                <p class="black-text">Deine Registrieung ist nun abgeschlossen. Um Quadriga-circle vollständig zu nutzen bitte deine Profildaten auf der folgenden Seite eintragen.</p>
            </div>
            <div class="modal-footer">
                <a [routerLink]="['/profile/edit']" class=" modal-action modal-close waves-effect waves-green btn">Ok, Ich verstehe</a>
            </div>
        </div>
    <qcfooter></qcfooter>

  </div>

</main>