<sidebar></sidebar>
<main>
<div class="container">
  <section class="main">
    <section class="legal ng-scope">
      <h2>FAQs:</h2>
      <ul class="collapsible faq" data-collapsible="accordion" materialize="collapsible">
        <li *ngFor="let faq of qcfaqitems">
          <div class="collapsible-header faq_header">{{ faq.question }}</div>
          <div class="collapsible-body faq_body">
            <p [innerHTML]="faq.answer"></p>
          </div>
        </li>             
      </ul>
    </section>
  </section>
  <qcfooter></qcfooter>
</div>
</main>
