<sidebar></sidebar>

<main>

  <div class="container">

    <div class="row">
      <div class="col s12">

        <h2>Impressum</h2>
        <h3>Anschrift</h3>

        <p>
          Quadriga Media Berlin GmbH
          <br>
          Werderscher Markt 13
          <br>
          D-10117 Berlin
          <br>
          Tel +49 (0)30 / 84 85 90
          <br>
          Fax +49 (0) 30/84 85 92 00
        </p>

        <p><a href="http://www.quadriga-media.com">www.quadriga-media.com</a><br>
        <a href="mailto:info@quadriga-media.com">info@quadriga-media.com</a></p>

        <h3>Geschäftsführer</h3>
        <p>Rudolf Hetzel, Torben Werner</p>

        <h3>Registergericht</h3>
        <p>Amtsgericht Charlottenburg</p>

        <h3>Registernummer</h3>
        <p>HRB 85627</p>

        <h3>Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz:</h3>
        <p>DE222932043</p>

        <h3>Inhaltlich Verantwortlich gemäß § 6 MDStV</h3>
        <p>siehe Geschäftsführer</p>

        <h3>Haftungshinweis</h3>
        <p>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</p>

        <h3>Verfahrensverzeichnis</h3>
        <p>Informationen zur Online-Streitbeilegung: Die EU-Kommission hat eine Internetplattform zur Online-Beilegung von Streitigkeiten (sog. „OS-Plattform“) geschaffen. Die OS-Plattform dient als Anlaufstelle zur außergerichtlichen Beilegung von Streitigkeiten betreffend vertragliche Verpflichtungen, die aus Online-Kaufverträgen erwachsen. Der Kunde kann die OS-Plattform unter dem folgenden Link erreichen: <a href="http://ec.europa.eu/consumers/odr/">http://ec.europa.eu/consumers/odr/</a></p>

        <h3>Technische Umsetzung und Design der Webseite:</h3>
        <p><a href="http://www.prototype.berlin/">prototype.berlin UG</a> (haftungsbeschränkt)</p>

     </div>

    </div>

    <qcfooter></qcfooter>

  </div>

</main>