<header class="navbar_bar">               
    <a [routerLink]="['/']"><div ui-sref="eventList" class="logo-main" href="/"></div></a>
    <h1 class="claim hide-on-med-and-down">Talks &amp; Workshops!</h1>
</header>


<!--[routerLink]="['/']"-->