<sidebar></sidebar>
<main>
    <div class="container">
        <div class="row">
            <div class="col s12 orange">
                <div class="row profileRow">
                    <div class="col s8 l10 orange profileCol">
                        <h2>{{ (currentuser)?.firstname }} {{ (currentuser)?.lastname }}</h2>
                        <b> {{ (currentuser)?.company }}</b>
                        <div>{{ (currentuser)?.career_level }}</div><br>
                        <div [innerHTML]="(currentuser)?.occupational_area | qcsplitwrapjoin"></div>
                        <br/>
                        <div [hidden]="(qcuserprofile | async)?.id !== (currentuser)?.id"><a class="btn orange" [routerLink]="['/profile/edit']">Profil bearbeiten</a></div>
                        <br/>
                        <div *ngIf="(currentuser)?.xing" ><a href="{{ (currentuser)?.xing }}" target="_blank" class="white-text">{{ (currentuser)?.xing }}</a></div>
                        <div *ngIf="(currentuser)?.facebook"><a href="{{ (currentuser)?.facebook }}" target="_blank" class="white-text">{{ (currentuser)?.facebook }}</a></div>
                        <div *ngIf="(currentuser)?.linkedin"><a href="{{ (currentuser)?.linkedin }}" target="_blank" class="white-text">{{ (currentuser)?.linkedin }}</a></div>
                         <br/>
                       
                    </div>
                    <div class="col s4 l2 profileCol">
                        <img class="profileAvatar circle" *ngIf="(currentuser)?.avatar_data?.name"  alt="" src="{{SERVER_URL}}renderImage/250/250/{{(currentuser)?.avatar_data?.name}}">
                    </div>
                </div>
            </div>
        </div>

        <div class="row " *ngIf="(currentuser)?.my_events?.length">
            <div class="col s12 ">
                <h3 *ngIf="currentUserLoggedIn">Meine eigenen Events</h3>
                <h3 *ngIf="!currentUserLoggedIn">Eigenen Events</h3>
            </div>
        </div>
        <div class="row">
            <div class="col l4 m6 s12 " *ngFor="let event of (currentuser)?.my_events " class="event-preview event-preview--{{ event.type }} animate-repeat" [ngClass]="{isbookmarked: event.isBookmarked}">

                <div class="card large hoverable">
                    <div class="card-image event-image">
                        <img alt="" src="{{SERVER_URL}}renderImage/960/250/{{(event)?.avatar_data?.name}}">
                    </div>
                    <a [routerLink]="['/profile/', event.user.id ]"><img class="event-preview__profile-image" alt="" src="{{SERVER_URL}}renderImage/250/250/{{(event.user)?.avatar_data?.name}}" ></a>
                    <div class="card-content event">
                        <div class="user-name center-align">{{ event.user.title }} {{ event.user.firstname }} {{ event.user.suffix }} {{ event.user.lastname }} <br ng-if="event.user.company"> {{ event.user.company }}</div>
                        <div class="event-type center-align">{{ event.type | capitalize }}</div>
                        <div class="divider" style="margin-top: 15px"></div>
                        <div class="card-title activator center-align">{{ event.title }}</div>
                        <div class="event-description center-align truncate">{{event.description}}</div>
                        <div class="event-topic center-align" [innerHTML]="event.topic | qcsplitwrapjoin "></div>
                        <div class="event-date center-align">{{ event.time | amDateFormat: 'dddd, DD.MM.YYYY' }} in {{ event.host_city }}</div>
                    </div>
                    <div class="card-action">
                        <div class="col m6 s6">
                            <a class="waves-effect orange waves-light btn right" [routerLink]="['/events/' + event.id]" [ngClass]="{disabled: (event.attendee_count >= event.max_attendees) }">Ansehen</a>
                        </div>
                        <div class="col m6 s6">
                            <a *ngIf="currentUserLoggedIn" class="waves-effect waves-light btn-flat left" [routerLink]="['/events/' + event.id]">Bearbeiten</a>
                        </div>
                    </div>
                    <div class="card-reveal">
                        <div class="card-title grey-text text-darken-4" style="padding-right: 40px;">{{ event.title }}<i class="material-icons right" style="position: absolute; right: 20px; top: 25px;">close</i></div>
                        <p>{{event.description}}</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="row " *ngIf="(currentuser)?.future_events">
            <div class="col s12 ">
                <h3 *ngIf="currentUserLoggedIn">Meine zukünftigen Events</h3>
                <h3 *ngIf="!currentUserLoggedIn">Zukünftigen Events</h3>

            </div>
        </div>
        <div class="row">
            <div class="col l4 m6 s12 " *ngFor="let event of (currentuser)?.future_events " class="event-preview event-preview--{{ event.type }} animate-repeat" [ngClass]="{isbookmarked: event.isBookmarked}">

                <div class="card large hoverable">
                    <div class="card-image event-image">
                        <img alt="" src="{{SERVER_URL}}renderImage/960/250/{{(event)?.avatar_data?.name}}">
                    </div>
                    <a [routerLink]="['/profile/', event.user.id ]"><img class="event-preview__profile-image" alt="" src="{{SERVER_URL}}renderImage/250/250/{{(event.user)?.avatar_data?.name}}"></a>
                    <div class="card-content event">
                        <div class="user-name center-align">{{ event.user.title }} {{ event.user.firstname }} {{ event.user.suffix }} {{ event.user.lastname }} <br ng-if="event.user.company"> {{ event.user.company }}</div>
                        <div class="event-type center-align">{{ event.type | capitalize }}</div>
                        <div class="divider" style="margin-top: 15px"></div>
                        <div class="card-title activator center-align">{{ event.title }}</div>
                        <div class="event-description center-align truncate">{{event.description}}</div>
                        <div class="event-topic center-align" [innerHTML]="event.topic | qcsplitwrapjoin "></div>
                        <div class="event-date center-align">{{ event.time | amDateFormat: 'dddd, DD.MM.YYYY' }} in {{ event.host_city }}</div>
                    </div>
                    <div class="card-action">
                        <a class="waves-effect orange waves-light btn right" [routerLink]="['/events/' + event.id]" >Ansehen</a>
                    </div>
                    <div class="card-reveal">
                        <div class="card-title grey-text text-darken-4" style="padding-right: 40px;">{{ event.title }}<i class="material-icons right" style="position: absolute; right: 20px; top: 25px;">close</i></div>
                        <p>{{event.description}}</p>
                    </div>
                </div>

            </div>
        </div>

         <div class="row " *ngIf="(currentuser)?.past_events">
            <div class="col s12 ">
                <h3 *ngIf="currentUserLoggedIn">Meine vergangenen Events</h3>
                <h3 *ngIf="!currentUserLoggedIn">Vergangenen Events</h3>

            </div>
        </div>
        <div class="row">
            <div class="col l4 m6 s12 " *ngFor="let event of (currentuser)?.past_events " class="event-preview event-preview--{{ event.type }} animate-repeat" [ngClass]="{isbookmarked: event.isBookmarked}">

                <div class="card large hoverable">
                    <div class="card-image event-image">
                        <img alt="" src="{{SERVER_URL}}renderImage/960/250/{{(event)?.avatar_data?.name}}">
                    </div>
                    <a [routerLink]="['/profile/', event.user.id ]"><img class="event-preview__profile-image" alt="" src="{{SERVER_URL}}renderImage/250/250/{{(event.user)?.avatar_data?.name}}"></a>
                    <div class="card-content event">
                        <div class="user-name center-align">{{ event.user.title }} {{ event.user.firstname }} {{ event.user.suffix }} {{ event.user.lastname }} <br ng-if="event.user.company"> {{ event.user.company }}</div>
                        <div class="event-type center-align">{{ event.type | capitalize }}</div>
                        <div class="divider" style="margin-top: 15px"></div>
                        <div class="card-title activator center-align">{{ event.title }}</div>
                        <div class="event-description center-align truncate">{{event.description}}</div>
                        <div class="event-topic center-align" [innerHTML]="event.topic | qcsplitwrapjoin "></div>
                        <div class="event-date center-align">{{ event.time | amDateFormat: 'dddd, DD.MM.YYYY' }} in {{ event.host_city }}</div>
                    </div>
                    <div class="card-action">
                        <a class="waves-effect orange waves-light btn right" [routerLink]="['/events/' + event.id]" >Ansehen</a>
                    </div>
                    <div class="card-reveal">
                        <div class="card-title grey-text text-darken-4" style="padding-right: 40px;">{{ event.title }}<i class="material-icons right" style="position: absolute; right: 20px; top: 25px;">close</i></div>
                        <p>{{event.description}}</p>
                    </div>
                </div>

            </div>
        </div>


        
        <div class="row " *ngIf="(currentuser)?.bookmarks">
            <div class="col s12 ">
                <h3 *ngIf="currentUserLoggedIn">Meine gemerkten Events</h3>
                <h3 *ngIf="!currentUserLoggedIn">Gemerkten Events</h3>
            </div>
        </div>
         <div class="row">
            <div class="col l4 m6 s12 " *ngFor="let event of (currentuser)?.bookmarked " class="event-preview event-preview--{{ event.type }} animate-repeat" [ngClass]="{isbookmarked: event.isBookmarked}">

                <div class="card large hoverable" id="{{event.id}}">
                    <div class="card-image event-image">
                        <img alt="" src="{{SERVER_URL}}renderImage/960/250/{{(event)?.avatar_data?.name}}">
                        
                    </div>
                    <a [routerLink]="['/profile/', event.user.id ]"><img class="event-preview__profile-image" alt="" src="{{SERVER_URL}}renderImage/250/250/{{(event.user)?.avatar_data?.name}}"></a>
                    <div class="card-content event">
                        <div class="user-name center-align">{{ event.user.title }} {{ event.user.firstname }} {{ event.user.suffix }} {{ event.user.lastname }} <br ng-if="event.user.company"> {{ event.user.company }}</div>
                        <div class="event-type center-align">{{ event.type | capitalize }}</div>
                        <div class="divider" style="margin-top: 15px"></div>
                        <div class="card-title activator center-align">{{ event.title }}</div>
                        <div class="event-description center-align truncate">{{event.description}}</div>
                        <div class="event-topic center-align" [innerHTML]="event.topic | qcsplitwrapjoin "></div>
                        <div class="event-date center-align">{{ event.time | amDateFormat: 'dddd, DD.MM.YYYY' }} in {{ event.host_city }}</div>
                    </div>

                     <div class="card-action">
                    <div class="col m6 s6">
                            <a class="waves-effect waves-light btn-flat left" (click)="delBookmark(event)">Vergessen</a>
                        </div>
                        <div class="col m6 s6">
                            <a class="waves-effect orange waves-light btn right" [routerLink]="['/events/' + event.id]" [ngClass]="{disabled: (event.attendee_count >= event.max_attendees) }">Ansehen</a>
                        </div>
                    </div>
                    <div class="card-reveal">
                        <div class="card-title grey-text text-darken-4" style="padding-right: 40px;">{{ event.title }}<i class="material-icons right" style="position: absolute; right: 20px; top: 25px;">close</i></div>
                        <p>{{event.description}}</p>
                    </div>
                </div>

            </div>
        </div>

       


        <qcfooter></qcfooter>
    </div>
</main>


