<sidebar></sidebar>
<main>
    <div class="container">

        <div class="row">
            <div class="col s12">
                <h3>Mitglieder</h3>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6 l8">
                <a class='dropdown-button btn waves-effect orange waves-light grey darken-2'  materialize="dropdown" data-constrainwidth="false" data-beloworigin="true" data-activates='dropdown1'>{{topicSearchDefault}}</a>
                <ul id='dropdown1' class='dropdown-content'>
                    <li><a (click)="filterTopic('');">Alle Tätigkeitsschwerpunkte</a></li>
                    <li><a (click)="filterTopic('Projektmanagement');">Projektmanagement</a></li>
                    <li><a (click)="filterTopic('Kommunikationsmanagement');">Kommunikationsmanagement</a></li>
                    <li><a (click)="filterTopic('Personalmanagement');">Personalmanagement</a></li>
                    <li><a (click)="filterTopic('Marketingmanagement');">Marketingmanagement</a></li>
                    <li><a (click)="filterTopic('Veranstaltungsmanagement');">Veranstaltungsmanagement</a></li>
                    <li><a (click)="filterTopic('Leadership');">Leadership</a></li>
                    <li><a (click)="filterTopic('IT-Management');">IT-Management</a></li>
                    <li><a (click)="filterTopic('Design');">Design</a></li>
                    <li><a (click)="filterTopic('Webentwicklung');">Webentwicklung</a></li>
                    <li><a (click)="filterTopic('Administration / Backoffice');">Administration / Backoffice</a></li>
                    <li><a (click)="filterTopic('Service');">Service</a></li>
                    <li><a (click)="filterTopic('Datenbankmanagement');">Datenbankmanagement</a></li>
                </ul>
                <br class="hide-on-med-and-up" />
                <br class="hide-on-med-and-up" />
            </div>
            <div class="col s12 m6 l4">
                <div class="input-field" style="margin: 0; margin-top: -4px;">
                    <i class="material-icons prefix white-text" style="top: 8px;">search</i>
                    <input class="organge" type="text" placeholder="Suche in Namen, Firma" [(ngModel)]="searchQuery">
                </div>
            </div>
        </div>

        <div class="event-list">

            <div class="row">
                <div class="col xl4 m6 s12" *ngFor="let user of qcprofileitems | async | paginate: { itemsPerPage: 12, currentPage: p } | qcprofilesearch:searchQuery | qcProfileTopicSearch:topicSearch ">
                    <div *ngIf="user.firstname != '' " class="card large hoverable">
                        <a [routerLink]="['/profile/', user.id ]">
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <img class="event-preview__profile-image" alt="" src="{{SERVER_URL}}renderImage/250/250/{{(user)?.avatar_data?.name}}"  >
                        </a>
                        <div class="card-content event">
                            <div class="card-title center-align">{{ user.title }} {{ user.firstname }} {{ user.suffix }} {{ user.lastname }}</div>
                            <div ng-if="user.company" class="event-description center-align truncate">{{ user.company }}</div>
                            <div class="event-topic center-align" [innerHTML]="user.career_level"></div>
                            <div class="event-topic center-align" [innerHTML]="user.occupational_area | qcsplitwrapjoin "></div>
                                <div *ngIf="(user?.user_events)?.length > 0" class="center-align" >Nächstes Event:<br>
                                   <div *ngFor="let event of user.user_events  | slice:0:1;" ><a [routerLink]="['/events/' + event.id]" >{{event.time | amDateFormat: 'dddd, DD.MM.YYYY'}} <br> {{event.title}}</a></div>
                                </div>
                        </div>
                        <div class="card-action">
                            <a class="waves-effect orange waves-light btn right" [routerLink]="['/profile/', user.id]">Ansehen</a>
                        </div>
                    </div>
                </div>
            </div>
                       
        </div>

        <div class="row">

            <div class="col s12 center-align">

                 <pagination-controls #pagination (pageChange)="p = $event"  (pageChange)="pageChanged($event)">

                    <ul class="pagination">

                        <li *ngIf="!pagination.isFirstPage()" >
                            <a (click)="pagination.previous()"><i class="material-icons">chevron_left</i></a>
                        </li>
                        <li *ngIf="pagination.isFirstPage()" class="disabled">
                            <a><i class="material-icons">chevron_left</i></a>
                        </li>

                        <li *ngFor="let page of pagination.pages" [class.active]="pagination.getCurrent() === page.value" [class.waves-effect]="pagination.getCurrent() !== page.value">
                            <a (click)="pagination.setCurrent(page.value)">
                                <span>{{ page.label }}</span>
                            </a>
                        </li>

                        <li *ngIf="!pagination.isLastPage()">
                            <a (click)="pagination.next()"><i class="material-icons">chevron_right</i></a>
                        </li>
                        <li *ngIf="pagination.isLastPage()" class="disabled">
                            <a><i class="material-icons">chevron_right</i></a>
                        </li>

                    </ul>

                 </pagination-controls>

            </div>

        </div>

        <qcfooter></qcfooter>
    </div>
</main>