<sidebar></sidebar>
<main>
    <div class="container">
        <form (ngSubmit)="onSubmit()" [formGroup]="settingsForm" >
            <div class="row">
                <div class="col s12 orange">
                    <div class="row profileRow">
                        <div class="col s12 orange profileCol" >
                            <h2>Einstellungen</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m6">
                    <h3>Mail-Einstellungen</h3>
                        <br/>
                        <br/>
                        <label for="mail_from">Absender:</label>
                        <input formControlName="mail_from" name="mail_from" >
                        <label for="mail_from_descr">Betreff:</label>
                        <input formControlName="mail_from_descr" name="mail_from_descr" >
                        <label for="reply_to">Antworte an:</label>
                        <input formControlName="reply_to" name="reply_to" >

                        <div class="input-field">
                            <textarea formControlName="mail_html_template" id="mail_html_template" class="materialize-textarea" ></textarea>
                            <label style="left:0" for="mail_html_template">Mail HTML Template</label>
                        </div>
                </div>
                <div class="col s12 m6">
                    <h3>Vorausgefüllte Daten</h3>
                        <br/>
                        <br/>
                        <label for="default_event_location">Ort:</label>
                        <input formControlName="default_event_location" name="default_event_location" >
                        <label for="default_event_street">Straße:</label>
                        <input formControlName="default_event_street" name="default_event_street" >
                        <label for="default_event_city">Stadt:</label>
                        <input formControlName="default_event_city" name="default_event_city" >
                        <label for="default_event_zip">ZIP:</label>
                        <input formControlName="default_event_zip" name="default_event_zip" >
                        <label for="default_event_number">Hausnummer:</label>
                        <input formControlName="default_event_number" name="default_event_number" >

                </div>
            </div>
            <div class="row">
                <div class="col s12 m12">
                    <h3>Schlagwörter</h3>
                        <br/>
                        <br/>
                        <div class="input-field">
                            <textarea formControlName="talk_keywords" id="talk_keywords" class="materialize-textarea" ></textarea>
                            <label style="left:0" for="talk_keywords">Talk Schlagwörter</label>
                        </div>
                        <div class="input-field">
                            <textarea formControlName="workshop_keywords" id="workshop_keywords" class="materialize-textarea" ></textarea>
                            <label style="left:0" for="workshop_keywords">Workshop Schlagwörter</label>
                        </div>
                        <div class="input-field">
                            <textarea formControlName="freizeit_keywords" id="freizeit_keywords" class="materialize-textarea" ></textarea>
                            <label style="left:0" for="freizeit_keywords">Freizeit Schlagwörter</label>
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m12">
                    <h3>Tätigkeitsschwerpunkte und Karrierestufe</h3>
                        <br/>
                        <br/>
                        <div class="input-field">
                            <textarea formControlName="occupational_areas" id="occupational_areas" class="materialize-textarea" ></textarea>
                            <label style="left:0" for="occupational_areas">Tätigkeitsschwerpunkte</label>
                        </div>
                        <div class="input-field">
                            <textarea formControlName="career_levels" id="career_levels" class="materialize-textarea" ></textarea>
                            <label style="left:0" for="career_levels">Karrierestufe</label>
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m12">
                    <h3>Inhalt der Mails</h3>
                        <br/>
                        <br/>
                        <div class="input-field">
                            <textarea formControlName="attendee_confirmation" id="attendee_confirmation" class="materialize-textarea" ></textarea>
                            <label style="left:0" for="attendee_confirmation">Bestätigung an Teilnehmer</label>
                        </div>
                        <label for="attendee_confirmation_subject">Bestätigung an Teilnehmer(Betreff)</label>
                        <input formControlName="attendee_confirmation_subject" name="attendee_confirmation_subject" >

                        <div class="input-field">
                            <textarea formControlName="attendee_event_change" id="attendee_event_change" class="materialize-textarea" ></textarea>
                            <label style="left:0" for="attendee_event_change">Änderung einer Veranstaltung</label>
                        </div>
                        <label for="attendee_event_change_subject">Änderung einer Veranstaltung (Betreff)</label>
                        <input formControlName="attendee_event_change_subject" name="attendee_event_change_subject" >

                          <div class="input-field">
                            <textarea formControlName="attendee_event_reminder" id="attendee_event_reminder" class="materialize-textarea" ></textarea>
                            <label style="left:0" for="attendee_event_reminder">Erinnerung zur Veranstaltung - Teilnehmer</label>
                        </div>
                        <label for="attendee_event_reminder_subject">Erinnerung zur Veranstaltung - Teilnehmer (Betreff)</label>
                        <input formControlName="attendee_event_reminder_subject" name="attendee_event_reminder_subject" >


                        <div class="input-field">
                            <textarea formControlName="host_event_reminder" id="host_event_reminder" class="materialize-textarea" ></textarea>
                            <label style="left:0" for="host_event_reminder">Erinnerung zur Veranstaltung - Veranstalter</label>
                        </div>
                        <label for="host_event_reminder_subject">Erinnerung zur Veranstaltung - Veranstalter(Betreff)</label>
                        <input formControlName="host_event_reminder_subject" name="host_event_reminder_subject" >


                        <div class="input-field">
                            <textarea formControlName="attendee_rating_reminder" id="attendee_rating_reminder" class="materialize-textarea" ></textarea>
                            <label style="left:0" for="attendee_rating_reminder">Erinnerung zur Bewertung einer Veranstaltung</label>
                        </div>
                        <label for="attendee_rating_reminder_subject">Erinnerung zur Bewertung einer Veranstaltung (Betreff)</label>
                        <input formControlName="attendee_rating_reminder_subject" name="attendee_rating_reminder_subject" >

                        <div class="input-field">
                            <textarea formControlName="attendee_rating_reminder" id="attendee_rating_reminder" class="materialize-textarea" ></textarea>
                            <label style="left:0" for="attendee_rating_reminder">Erinnerung zur Bewertung einer Veranstaltung</label>
                        </div>
                        <label for="attendee_rating_reminder_subject">Erinnerung zur Bewertung einer Veranstaltung (Betreff)</label>
                        <input formControlName="attendee_rating_reminder_subject" name="attendee_rating_reminder_subject" >

                        <div class="input-field">
                            <textarea formControlName="host_rating_reminder" id="host_rating_reminder" class="materialize-textarea" ></textarea>
                            <label style="left:0" for="host_rating_reminder">Erinnerung zur Bewertung der Teilnehmer</label>
                        </div>
                        <label for="host_rating_reminder_subject">Erinnerung zur Bewertung der Teilnehmer (Betreff)</label>
                        <input formControlName="host_rating_reminder_subject" name="host_rating_reminder_subject" >




                        <div class="input-field">
                            <textarea formControlName="event_delete" id="event_delete" class="materialize-textarea" ></textarea>
                            <label style="left:0" for="event_delete">Entfernung einer Veranstaltung</label>
                        </div>
                        <label for="event_delete_subject">Entfernung einer Veranstaltung (Betreff)</label>
                        <input formControlName="event_delete_subject" name="event_delete_subject" >

                        <div class="input-field">
                            <textarea formControlName="host_attendee_info" id="host_attendee_info" class="materialize-textarea" ></textarea>
                            <label style="left:0" for="host_attendee_info">Neuer Teilnehmer Benachrichtigung</label>
                        </div>
                        <label for="host_attendee_info_subject">Neuer Teilnehmer Benachrichtigung (Betreff)</label>
                        <input formControlName="host_attendee_info_subject" name="host_attendee_info_subject" >

                        <div class="input-field">
                            <textarea formControlName="host_attendee_limit" id="host_attendee_limit" class="materialize-textarea" ></textarea>
                            <label style="left:0" for="host_attendee_limit">Teilnehmer Mindestanzahl nicht erreicht</label>
                        </div>
                        <label for="host_attendee_limit_subject">Teilnehmer Mindestanzahl nicht erreicht (Betreff)</label>
                        <input formControlName="host_attendee_limit_subject" name="host_attendee_limit_subject" >

                        <div class="input-field">
                            <textarea formControlName="password" id="password" class="materialize-textarea" ></textarea>
                            <label style="left:0" for="password">Passwort zurücksetzen</label>
                        </div>
                        <label for="password_subject">Passwort zurücksetzen (Betreff)</label>
                        <input formControlName="password_subject" name="password_subject" >

                        <div class="input-field">
                            <textarea formControlName="user_registration" id="user_registration" class="materialize-textarea" ></textarea>
                            <label style="left:0" for="user_registration">Neuer Mitglied</label>
                        </div>
                        <label for="user_registration_subject">Neuer Mitglied (Betreff)</label>
                        <input formControlName="user_registration_subject" name="user_registration_subject" >
                        
                        <div class="input-field">
                            <textarea formControlName="attendee_abmelden" id="user_registration" class="materialize-textarea" ></textarea>
                            <label style="left:0" for="attendee_abmelden">von einem Event abmelden</label>
                        </div>
                        <label for="attendee_abmelden_subject">von einem Event abmelden (Betreff)</label>
                        <input formControlName="attendee_abmelden_subject" name="user_registration_subject" >

                        <div class="input-field">
                            <textarea formControlName="user_approved" id="user_registration" class="materialize-textarea" ></textarea>
                            <label style="left:0" for="user_approved">Benutzer von der Warteliste hinzugefügt</label>
                        </div>
                        <label for="user_approved_subject">Benutzer von der Warteliste hinzugefügt (Betreff)</label>
                        <input formControlName="user_approved_subject" name="user_registration_subject" >

                        <div class="input-field">
                            <textarea formControlName="create_event_mail_confirmation_text" id="user_registration" class="materialize-textarea" ></textarea>
                            <label style="left:0" for="create_event_mail_confirmation_text">Neues Event</label>
                        </div>
                        <label for="create_event_mail_confirmation_text_subject">Neues Event (Betreff)</label>
                        <input formControlName="create_event_mail_confirmation_subject" name="create_event_mail_confirmation_text_subject" >

                        <div class="input-field">
                            <textarea formControlName="new_comment" id="user_registration" class="materialize-textarea" ></textarea>
                            <label style="left:0" for="new_comment">Neuer Kommentar</label>
                        </div>
                        <label for="new_comment_subject">Neuer Kommentar (Betreff)</label>
                        <input formControlName="new_comment_subject" name="user_registration_subject" >

                         <div class="input-field">
                            <textarea formControlName="contact" id="contact" class="materialize-textarea" ></textarea>
                            <label style="left:0" for="contact">Kontakt Automatische Antwort</label>
                        </div>
                        <label for="contact_subject">Kontakt Automatische Antwort (Betreff)</label>
                        <input formControlName="contact_subject" name="contact_subject" >

                         <div class="input-field">
                            <textarea formControlName="contact_reply" id="contact_reply" class="materialize-textarea" ></textarea>
                            <label style="left:0" for="contact_reply">Konakt E-mail adresse</label>
                        </div>
                
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                <fieldset>
                    <input class="waves-effect waves-light orange btn" type="submit" value="Einstellungen speichern">
                </fieldset>
                </div>
            </div>
        </form>
        <qcfooter></qcfooter>
    </div>
</main>