<sidebar></sidebar>
<main>
    <div class="container">

        <div class="row">
            <div class="col s12">
                <h1>Wissen verbindet.</h1>
                <p>Willkommen beim internen Weiterbildungsnetzwerk von und für Quadriga-Kollegen!</p>
                <h3>Nächste Events</h3>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m2 l2">
                <a class='dropdown-button btn  orange grey darken-2'  materialize="dropdown" data-constrainwidth="false" data-beloworigin="true" data-activates='dropdown1'>{{topicSearchDefault}}</a>
                <ul id='dropdown1' class='dropdown-content'>
                    <li><a (click)="filterTopic('');">Alle Themen</a></li>
                    <li><a (click)="filterTopic('Onboarding');">Onboarding</a></li>
                    <li><a (click)="filterTopic('Interne Tools');">Interne Tools</a></li>
                    <li><a (click)="filterTopic('Projektmanagement');">Projektmanagement</a></li>
                    <li><a (click)="filterTopic('Kommunikationsmanagement');">Kommunikationsmanagement</a></li>
                    <li><a (click)="filterTopic('Personalmanagement');">Personalmanagement</a></li>
                    <li><a (click)="filterTopic('Marketingmanagement');">Marketingmanagement</a></li>
                    <li><a (click)="filterTopic('Veranstaltungsmanagement');">Veranstaltungsmanagement</a></li>
                    <li><a (click)="filterTopic('Leadership');">Leadership</a></li>
                    <li><a (click)="filterTopic('IT-Management');">IT-Management</a></li>
                    <li><a (click)="filterTopic('Design');">Design</a></li>
                    <li><a (click)="filterTopic('Webentwicklung');">Webentwicklung</a></li>
                    <li><a (click)="filterTopic('Administration / Backoffice');">Administration / Backoffice</a></li>
                    <li><a (click)="filterTopic('Service');">Service</a></li>
                    <li><a (click)="filterTopic('Datenbankmanagement');">Datenbankmanagement</a></li>
                    <li><a (click)="filterTopic('Teamsport');">Teamsport</a></li>
                </ul>
                <br class="hide-on-med-and-up" />
                <br class="hide-on-med-and-up" />
            </div>
            <div class="col s12 m2 l2">
                <a class='dropdown-button btn orange grey darken-2'  materialize="dropdown" data-constrainwidth="false" data-beloworigin="true" data-activates='dropdown2'>{{typeSearchDefault}}</a>
                <ul id='dropdown2' class='dropdown-content'>
                    <li><a (click)="filterType('');">Alle Arten</a></li>
                    <li><a (click)="filterType('Workshops');">Workshops</a></li>
                    <li><a (click)="filterType('Talk');">Talk</a></li>
                    <li><a (click)="filterType('Freizeit');">Freizeit</a></li>
                </ul>
                <br class="hide-on-med-and-up" />
                <br class="hide-on-med-and-up" />
            </div>
            <div class="col s12 m6 l2">
                <input id="start_date_search" [(ngModel)]="start_date_search" name="start_date_search" (ngModelChange)="filterDate($event);" placeholder="von" type="text" style="margin-top: -4px;" class="datepicker" materialize="pickadate">
            </div>
            <div class="col s12 m6 l2">
                <input id="end_date_search" [(ngModel)]="end_date_search"  name="end_date_search" (ngModelChange)="filterDate($event);"   placeholder="bis" type="text" style="margin-top: -4px;" class="datepicker" materialize="pickadate">
            </div>
            <div class="col s12 m6 l4">
                <div class="input-field" style="margin: 0; margin-top: -4px;">
                    <i class="material-icons prefix white-text" style="top: 8px;">search</i>
                    <input class="organge" type="text" placeholder="Suche in Titel, Beschreibung" ng-change="vm.visibleItems = vm.pageSize" [(ngModel)]="searchQuery">
                </div>
            </div>
        </div>

        <div class="event-list">

            <div class="row">

                <div class="col xl4 m6 s12" *ngFor="let event of qceventitems | async |  paginate: { itemsPerPage: 12, currentPage: p } | qceventtopicsearch:topicSearch | qceventsearch:searchQuery | qceventtypesearch:typeSearch" class="event-preview event-preview--{{ event.type }} animate-repeat" [ngClass]="{isbookmarked: event.isBookmarked}">

                    <div class="card large hoverable" >
                       <div [hidden]="!event.isBookmarked" class="eventBookmark" (click)="toggleBookmark(event)"></div>
                        <div class="card-image event-image">
                            <img id="event-preview__event-image"  alt="" src="{{SERVER_URL}}renderImage/960/250/{{(event)?.avatar_data?.name}}"  >
                        </div>
                        <a [routerLink]="['/profile/', event.user.id ]"><img id="event-preview__profile-image"  class="event-preview__profile-image" alt="" src="{{SERVER_URL}}renderImage/250/250/{{(event.user)?.avatar_data?.name}}" ></a>
                        <div class="card-content event">
                            <div class="user-name center-align">{{ event.user.title }} {{ event.user.firstname }} {{ event.user.suffix }} {{ event.user.lastname }} <br ng-if="event.user.company"> {{ event.user.company }}</div>
                            <div class="event-type center-align">{{ event.type | capitalize }}</div>
                            <div class="divider" style="margin-top: 15px"></div>
                            <div class="card-title activator center-align">{{ event.title }}</div>
                            <div class="event-description center-align truncate">{{event.description}}</div>
                            <div class="event-topic center-align" [innerHTML]="event.topic | qcsplitwrapjoin "></div>
                            <div class="event-date center-align">{{ event.time | amDateFormat: 'dddd, DD.MM.YYYY' }} in {{ event.host_city }}</div>
                        </div>
                        <div *ngIf="(qcuserprofile | async)?.firstname != ''" class="card-action">
                            <div class="col m6 s6">
                                <a class="waves-effect waves-light btn-flat left" (click)="toggleBookmark(event)">{{ !event.isBookmarked ? 'Merken' : 'Vergessen' }}</a>
                            </div>
                            <div class="col m6 s6">
                                <a class="waves-effect orange waves-light btn right" [routerLink]="['/events/' + event.id]" [ngClass]="{disabled: (event.attendee_count >= event.max_attendees) }">Ansehen</a>
                            </div>
                        </div>
                        <div *ngIf="(qcuserprofile | async)==null" class="card-action text-center">
                                <a  class="waves-effect orange waves-light btn center-block" style="display:block !important;" [routerLink]="['/login']" >Jetzt Anmelden</a>
                        </div>
                        <div *ngIf="(qcuserprofile | async) && (qcuserprofile | async)?.lastname==''" class="card-action text-center">
                            <a  class="waves-effect orange waves-light btn center-block" style="display:block !important;" [routerLink]="['/profile/edit']" >Profil vervollständigen</a>
                        </div>
                        <div class="card-reveal">
                            <div class="card-title grey-text text-darken-4" style="padding-right: 40px;">{{ event.title }}<i class="material-icons right" style="position: absolute; right: 20px; top: 25px;">close</i></div>
                            <p>{{event.description}}</p>
                            <div class="event-topic center-align" [innerHTML]="event.topic | qcsplitwrapjoin "></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col s12 center-align">

                 <pagination-controls #pagination (pageChange)="p = $event" (pageChange)="pageChanged($event)">

                    <ul class="pagination">

                        <li *ngIf="!pagination.isFirstPage()" >
                            <a (click)="pagination.previous()"><i class="material-icons">chevron_left</i></a>
                        </li>
                        <li *ngIf="pagination.isFirstPage()" class="disabled">
                            <a><i class="material-icons">chevron_left</i></a>
                        </li>

                        <li *ngFor="let page of pagination.pages" [class.active]="pagination.getCurrent() === page.value" [class.waves-effect]="pagination.getCurrent() !== page.value">
                            <a (click)="pagination.setCurrent(page.value)">
                                <span>{{ page.label }}</span>
                            </a>
                        </li>

                        <li *ngIf="!pagination.isLastPage()">
                            <a (click)="pagination.next()"><i class="material-icons">chevron_right</i></a>
                        </li>
                        <li *ngIf="pagination.isLastPage()" class="disabled">
                            <a><i class="material-icons">chevron_right</i></a>
                        </li>

                    </ul>

                 </pagination-controls>


            </div>

        </div>

        <qcfooter></qcfooter>
    </div>
</main>