<sidebar></sidebar>
<main>
    <div class="container">
        <form (ngSubmit)="onSubmit()" [formGroup]="eventForm" *ngIf="dataLoaded">
            <div class="row">
                <div class="col s12 orange">
                    <div class="row profileRow">
                        <div class="col s12 orange profileCol" *ngIf="page_mode == 'new'">
                            <h2>Event vorschlagen</h2>
                            <div>Schlage in wenigen Schritten eine Veranstaltung vor.</div>
                            <br/>
                            <br/>
                        </div>
                        <div class="col s12 orange profileCol" *ngIf="page_mode == 'edit'">
                            <h2>{{ event.title }}</h2>
                            <div>Bearbeite in wenigen Schritten deinen Vorschlag.</div>
                            <br/>
                            <br/>
                        </div>
                    </div>
                </div>
                <ul class="tabs orange eventNewTabs">
                    <li class="tab col s4" [ngClass]="{'disabled orange lighten-2': viewstep != 1}"><a [class.active]="viewstep == 1">1. Format</a></li>
                    <li class="tab col s4" [ngClass]="{'disabled orange lighten-2': viewstep != 2}"><a [class.active]="viewstep == 2">2. Inhalt</a></li>
                </ul>
            </div>

            <div [hidden]="viewstep != 1">

                <div class="row">
                    <div class="col s12 m6">
                        <h3>Was für eine Art Event möchtest du vorschlagen?</h3>
                        <p>Detaillierte Infos zu den einzelnen Formaten findest du <a href="">hier</a></p>
                        <br/>
                        <br/>
                        <p>
                            <input formControlName="type" name="type" type="radio" id="talk" value="talk" (click)="changeEventType()" />
                            <label for="talk" class="eventNewRadio">
                                <div class="row">
                                    <div class="col s4">
                                        <img style="display: block; width: 100%;" src="img/talk@2x.png">
                                    </div>
                                    <div class="col s8">    
                                        <b>Talk</b><br/>Klassisches one-to-many Format. Kollegen teilen Ihr Fachwissen zu einem bestimmten Thema
                                    </div>
                                </div>
                            </label>
                        </p>
                        <p>
                            <input formControlName="type" name="type" type="radio" id="workshop" value="workshop" (click)="changeEventType()"/>
                            <label for="workshop" class="eventNewRadio">
                                <div class="row">
                                    <div class="col s4">
                                        <img style="display: block; width: 100%;" src="img/workshop@2x.png">
                                    </div>
                                    <div class="col s8">    
                                        <b>Workshop</b><br/>Interaktives many-to-many Format, Kollegen entwickeln gemeinsam Ideen
                                    </div>
                                </div>
                            </label>
                        </p>
                        <p>
                            <input formControlName="type" name="type" type="radio" id="freizeit" value="freizeit" (click)="changeEventType()" />
                            <label for="freizeit" class="eventNewRadio">
                                <div class="row">
                                    <div class="col s4">
                                        <img style="display: block; width: 100%;" src="img/freestyle@2x.png">
                                    </div>
                                    <div class="col s8">    
                                        <b>Freizeit &amp; Sport</b><br/>Kollegen organisieren Treffen zu Freizeit-Themen außerhalb der Arbeitszeit
                                    </div>
                                </div>
                            </label>
                        </p>
                    </div>

                    <div class="col s12 m6">
                        <h3>Wie viele Teilnehmer können an deinem Event teilnehmen?</h3>
                        <p>Du wirst benachrichtigt, sollten sich weniger oder mehr Kollegen anmelden</p>
                        <br/>
                        <br/>
                        <div class="col s6">
                            <label for="min_attendee">Min.</label>
                            <input formControlName="min_attendees" >
                        </div>
                        <div class="col s6">
                            <label for="max_attendee">Max.</label>
                            <input formControlName="max_attendees" >
                        </div>
                    </div>
                </div>
            </div>

            <div [hidden]="viewstep != 2">

                <div class="row">
                    <div class="col s12 m6">
                        <h3>Worüber möchtest du referieren?</h3>
                        <br/>
                        <br/>
                        <label for="title">Eventtitel</label>
                        <input formControlName="title" name="title" placeholder="zB. Leadership Excellence">
                        <div class="input-field">
                            <textarea formControlName="description" id="about" class="materialize-textarea" placeholder="zB. super spannender Talk zum Thema X"></textarea>
                            <label style="left:0" for="about">Kurzbeschreibung</label>
                        </div>

                        <label>Schlagwörter</label>
                           <p class="eventNewCheckboxes"  *ngIf="eventForm.controls['type'].value == 'freizeit'">
                                <span *ngFor="let freizeit_keyword of freizeit_keywords" >
                                    <input formControlName="{{freizeit_keyword}}"  type="checkbox" id="{{freizeit_keyword}}" name="customTopics[]" (click)="toogleTopic($event)"/>
                                    <label attr.for="{{freizeit_keyword}}" >{{freizeit_keyword}}</label>
                                 </span>
                            </p>

                            <p class="eventNewCheckboxes"  *ngIf="eventForm.controls['type'].value == 'talk'">
                                <span *ngFor="let talk_keyword of talk_keywords">
                                    <input formControlName="{{talk_keyword}}"  type="checkbox" id="{{talk_keyword}}" name="customTopics[]" (click)="toogleTopic($event)"/>
                                    <label attr.for="{{talk_keyword}}" >{{talk_keyword}}</label>
                                </span>
                            </p>

                            <p class="eventNewCheckboxes" *ngIf="eventForm.controls['type'].value == 'workshop'">
                                <span *ngFor="let workshop_keyword of workshop_keywords" >
                                    <input formControlName="{{workshop_keyword}}"  type="checkbox" id="{{workshop_keyword}}" name="customTopics[]" (click)="toogleTopic($event)" />
                                    <label attr.for="{{workshop_keyword}}" >{{workshop_keyword}}</label>
                                </span>
                            </p>

            
                    </div>

                    <div class="col s12 m6">
                        <h3>Wenn du magst, lade noch ein Bild zur Veranstaltung hoch!</h3>
                        <br/>
                        <br/>
                        <div class="file-field input-field">
                            <div class="waves-effect waves-light btn orange">
                                <span>(Optional) Max. 3 MB</span>
                                <input id="eventAvatar" type="file" ng2FileSelect [uploader]="uploader" (change)="enableConfirm()" accept="image/*" class="waves-effect waves-light btn orange" />
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                        <br/>
                        <div [hidden] = "!confirmShow">
                            <input type="checkbox" id="copyright_confirm_event" checked disabled (click)="uploadEventPicTemp()"/>
                            <label for="copyright_confirm_event">Hiermit bestätige ich, dass ich alle Rechte am von mir hochgeladenen Bild halte.</label>
                        </div>
                        <br>
                        <br>
                         <div class="file-field input-field">
                            <div class="waves-effect waves-light btn orange">
                                <span>Dokumente</span>
                                <input id="eventDocuments" multiple type="file" ng2FileSelect [uploader]="docsUploader"   class="waves-effect waves-light btn orange" />
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div [hidden]="viewstep != 3">

            </div>

            <div class="row">
                <div class="col s6">
                    <br/>
                    <br/>
                    <a class="waves-effect waves-orange btn-flat orange-text" [class.hide]="viewstep == 1" (click)="prevPage()">Zurück</a>
                </div>
                <div class="col s6">
                    <br/>
                    <br/>
                    <a class="waves-effect waves-light orange btn" [class.hide]="viewstep == 2" (click)="nextPage()">Weiter</a>
                    <input type="submit" class="waves-effect waves-light orange btn" [class.hide]="viewstep < 2" value="Event speichern">
                </div>
            </div>
        </form>

       <input type="hidden" data-target="modal1" materialize="leanModal" [materializeParams]="[{dismissible: false}]">

        <div id="modal1" class="modal">
            <div class="modal-content">
                <p class="black-text">Dein Event wurde erstellt. Möchtest du ein weiteres Event erstellen?</p>
            </div>
            <div class="modal-footer">
                <button class="modal-action modal-close waves-effect waves-effect waves-light btn" (click)="clearForm()" >Ja, weiteres Event erstellen</button>
                <a [routerLink]="['/events']" class=" modal-action modal-close waves-effect waves-green btn-flat">Nein</a>
            </div>
        </div>

        <qcfooter></qcfooter>
    </div>
</main>