<sidebar></sidebar>
<main>
    <div class="container" *ngIf="!(event|async)?.id" >
        <div class="row">
            <div class="col s12 orangeOverlay">
                <div class="row profileRow">
                    <div class="col s12 profileCol">
                        <h2></h2>
                        <br/>
                    </div>
                </div>
            </div>
         </div>
    </div>
    
    <div class="container" *ngIf="(event|async)?.id" >
        <div class="row">
            <div class="col s12 orangeOverlay" [ngStyle]="{'background-image': 'url(' + IMAGE_URL + (event|async)?.avatar_data?.name + ')'}">
                <div class="row profileRow">
                    <div class="col s12 profileCol">
                        <h2>{{(event | async)?.title}}</h2>
                        <br/>
                        <div style="position: relative"  [hidden]="!currentUserIsOwner" ><a class="btn orange" [routerLink]="['/events/' + (event|async)?.id + '/edit']">Event bearbeiten</a></div>
                        <br/>
                        <div style="position: relative"  [hidden]="!currentUserIsOwner"><a class="btn orange" (click)="showDeleteModal()">Event löschen</a></div>
                        <br/>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 ">
                <h3> {{(event | async)?.type | capitalize }}</h3>
                <p style="white-space: pre-line;"> {{(event | async)?.description}}</p>
                <p *ngIf="(event | async)?.topic" [innerHTML]="'Schlagwörter:' + ((event | async)?.topic | qcsplitjoin)"></p>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6">
                <div class="row">
                    <div class="col s3">
                       
                        <a [routerLink]="['/profile/' + (event | async)?.user?.id]"><img class="circle eventDetailHost" alt="" src="{{SERVER_URL}}renderImage/250/250/{{(event | async)?.user?.avatar_data?.name}}"></a>
                    </div>
                    <div class="col s9">
                        <h3>Veranstalter</h3>
                        <div><a class="white-text" [routerLink]="['/profile/' + (event | async)?.user?.id]"><b>{{((event|async)?.user)?.firstname}} {{((event|async)?.user)?.lastname}}</b></a></div>
                        <p>
                            {{((event|async)?.user)?.career_level}} | {{((event|async)?.user)?.company}}
                            <br/>{{((event|async)?.host)?.occupational_area | qcsplitjoin }}
                        </p>
                        <!--
                        <ul class="user-preview--contact" style="margin: 0;">
                            <li *ngIf="((event|async)?.user)?.xing"><a target="_blank" href="((event|async)?.user)?.xing"><i class="qc-icon-xing"></i></a></li>
                            <li *ngIf="((event|async)?.user)?.linkedin"><a target="_blank" href="((event|async)?.user)?.linkedin"><i class="qc-icon-linkedin"></i></a></li>
                            <li *ngIf="((event|async)?.user)?.facebook"><a target="_blank" href="((event|async)?.user)?.facebook"><i class="qc-icon-facebook-small"></i></a></li>
                        </ul>
                        -->
                    </div>
                </div>
                <div class="row">
                    <div class="col s3 m3 l3">
                        <i class="event-detail-icon material-icons">date_range</i>
                    </div>
                    <div class="col s9 m9 l9">
                        <h3>Datum</h3>
                        <p>
                            {{(event|async)?.time | amDateFormat: 'dddd, DD.MM.YYYY'}}
                            <br/>{{(event|async)?.time | amDateFormat: 'HH:mm'}} Uhr - {{(event|async)?.endtime | amDateFormat: 'HH:mm'}} Uhr
                        </p>
                    </div>

                </div>
                <div class="row">
                    <div class="col s3">
                        <i class="event-detail-icon material-icons">home</i>
                    </div>
                    <div class="col s12 m6 l6">
                        <h3>Ort</h3>
                        <p>
                            {{(event|async)?.host_company}}
                            <br/>{{(event|async)?.host_street}} {{(event|async)?.host_house_number}}
                            <br/>{{(event|async)?.host_zip}} {{(event|async)?.host_city}}
                        </p>
                    </div>
                </div>
                <div class="row" *ngIf = "(event|async)?.host_details">
                    <div class="col s3">
                        <i class="event-detail-icon material-icons">location_on</i>
                    </div>
                    <div class="col s12 m6 l6">
                        <h3>Details</h3>
                        <p>
                            {{(event|async)?.host_details}}
                        </p>
                    </div>
                </div>
            </div>
            <div *ngIf='!eventPassed' class="col s12 m6">
                <h3>Teilnehmen</h3>
                <p>{{(event|async)?.attendee_count}} von {{(event|async)?.max_attendees}} möglichen Teilnehmern</p>

                <div *ngIf="((qcuserprofile | async)?.id) != (((event|async)?.user)?.id)" class="disclaimer ng-scope">
                    <p>
                        Denk daran, dass die Anmeldung zur Veranstaltung bindend ist und deine Teilnahme nur im Notfall abgesagt werden sollte. Weitere Infos findest du <a href="/faq#faq-events">hier</a>.
                    </p>
                    <br/>
                    <button *ngIf="isAttended" (click)="cancelAttendanceEvent($event)" class="wave-effect wave-light btn red">Abmelden</button>

  
                    <button 
                        *ngIf="!isAttended  && !( (event|async)?.attendee_count >= (event|async)?.max_attendees) && (qcuserprofile | async)?.lastname != '' " 
                        [disabled]="((event|async)?.attendees) | qceventattendeeidsearch: (qcuserprofile | async)?.id" 
                        (click)="attendEvent()" 
                        [ngClass]="{disabled : ((event|async)?.attendees) | qceventattendeeidsearch: (qcuserprofile | async)?.id }" 
                        class="wave-effect wave-light btn">Teilnehmen</button>

                     <button 
                        *ngIf="!isAttended  && ( (event|async)?.attendee_count >= (event|async)?.max_attendees) " 
                        [disabled]="((event|async)?.attendees) | qceventattendeeidsearch: (qcuserprofile | async)?.id" 
                        (click)="attendEvent()" 
                        [ngClass]="{disabled : ((event|async)?.attendees) | qceventattendeeidsearch: (qcuserprofile | async)?.id }" 
                        class="wave-effect wave-light btn">Auf die Warteliste</button>

                    <!--<button class="waves-effect waves-orange btn-flat orange-text" (click)="toggleBookmark()">{{ !(event|async)?.isBookmarked ? 'Merken' : 'Vergessen' }}</button>-->
                </div>
                <!--
                <div class="share">
                    <p>Jetzt teilen</p>
                    <div ng-click="share('facebook')" class="qc-icon-facebook share-icon"></div>
                    <div ng-click="share('twitter')" class="qc-icon-twitter share-icon"></div>
                    <div ng-click="share('mail')" class="qc-icon-mail share-icon"></div>
                </div>
                -->
            </div>
            <div class="col s12 m6" *ngIf="(event|async)?.document_data?.length">
                <h3>Dokumente</h3>
                <ul *ngFor = "let eventDocument of (event|async)?.document_data ">
                    <li><a style="color:#b2b2b2; cursor:pointer" target=_blank href="{{DOCS_URL}}{{(eventDocument)?.name}}">{{(eventDocument)?.name}}</a></li>
                </ul>
            </div>

        </div>


        <div class="row" *ngIf="((qcuserprofile | async)?.id) && (event|async)?.attendee_count >= 1">
            <div class="col s12 ">
                <h3>Teilnehmer</h3>
            </div>
            <div [hidden]="!currentUserIsOwner" class="col s12">
                <br/>
                <button [hidden]="!currentUserIsOwner" class="waves-effect waves-light btn modal-trigger" *ngIf='!eventPassed'  type="button" data-target="modal1" materialize="leanModal">Mail an die Teilnehmer</button>
                <br/>
                <br/>
            </div>
        </div>
        <div class="row" *ngIf="((qcuserprofile | async)?.id) && (event|async)?.attendee_count >= 1">
            <div *ngFor="let attendee of (event|async)?.approved_list; let odd=odd; let even=even;">
                <div class="col s12 m6" style="margin-bottom: 40px !important;" >
                        <div id="attendee{{attendee.id}}">
                            <div class="col s3 m3 l3">
                                <a [routerLink]="['/profile/' + attendee.id]"><img class="circle eventDetailAvatar" alt="" (click)="goToProfile()" src="{{SERVER_URL}}renderImage/250/250/{{(attendee)?.avatar_data?.name}}" ></a>
                            </div>
                            <div class="col s9 m9 l9">
                                <div><a class="white-text" [routerLink]="['/profile/' + attendee.id]"><b>{{attendee.firstname}} {{attendee.lastname}} | {{attendee.career_level}}</b></a>
                                    <i class="tiny material-icons" *ngIf='!eventPassed'  (click)="showcancelAttendanceEvent($event, attendee.id)" style="cursor:pointer !important;" [hidden]="!currentUserIsOwner" >delete</i></div>
                                <p style="font-size:12px !important; height:10px">
                                    {{attendee.occupational_area | qcsplitjoin }}
                                </p>
                                
                            </div>
                        </div>
                    </div>
            </div>  




        <div class="row" *ngIf="((qcuserprofile | async)?.id) && (event|async)?.waiting_list">
            <div class="col s12 ">
                <h3>Warteliste</h3>
            </div>  
        </div>
        <div class="row" *ngIf="((qcuserprofile | async)?.id) && (event|async)?.waiting_list">
            <div *ngFor="let attendee of (event|async)?.waiting_list;">
                <div class="col s12 m6"  style="margin-bottom: 40px !important;" >
                        <div id="attendee{{attendee.id}}">
                            <div class="col s3">
                                <a [routerLink]="['/profile/' + attendee.id]"><img class="circle eventDetailAvatar" alt="" (click)="goToProfile()" src="{{SERVER_URL}}renderImage/250/250/{{(attendee)?.avatar_data?.name}}" ></a>
                            </div>
                            <div class="col s9">
                                <div><a class="white-text" [routerLink]="['/profile/' + attendee.id]"><b>{{attendee.firstname}} {{attendee.lastname}} | {{attendee.career_level}}</b></a>
                                    <i class="tiny material-icons" *ngIf='!eventPassed'  (click)="showcancelAttendanceEvent($event, attendee.id)" style="cursor:pointer !important;" [hidden]="!currentUserIsOwner" >delete</i></div>
                                <p style="font-size:12px !important; height:10px">
                                    {{attendee.occupational_area | qcsplitjoin }}
                                </p>
                                
                            </div>
                        </div>
                    </div>
            </div>  
        </div>
            <!--<div class="col s12 m6">
                <div *ngFor="let attendee of (event|async)?.attendees; let odd=odd; let even=even;">
                    <div *ngIf="even" id="attendee{{attendee.id}}">
                        <div class="col s3">
                            <a [routerLink]="['/profile/' + attendee.id]"><img class="circle eventDetailAvatar" alt="" (click)="goToProfile()" src="{{IMAGE_URL}}{{attendee?.avatar_data?.name}}" ></a>
                        </div>
                        <div class="col s9">
                            <div><a class="white-text" [routerLink]="['/profile/' + attendee.id]"><b>{{attendee.firstname}} {{attendee.lastname}} | {{attendee.career_level}}</b></a>
                            <i class="tiny material-icons" (click)="showcancelAttendanceEvent($event, attendee.id)" [hidden]="!currentUserIsOwner" >delete</i></div>
                            <p>
                                {{attendee.occupational_area | qcsplitjoin }}
                                <br/> {{((event|async)?.host)?.occupational_area | qcsplitjoin }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>-->

        </div>

       <div *ngIf="((qcuserprofile | async)?.id) && (qcuserprofile | async)?.lastname != ''"  >

        <div class="row" *ngIf='!eventPassed'  >
            <div class="col s12 ">
                <h3>Kommentare</h3>
            </div>
        </div>

        <div class="row" *ngIf='!eventPassed'>
                <div class="col s12 m6">
                    <button class="waves-effect waves-light btn" type="button" (click)="showComment = !showComment" [class.hide]="showComment">Kommentar schreiben</button>
                    <form class="showComment" [hidden]="!showComment" style="margin-top: -20px;" (ngSubmit)="saveComment()" [formGroup]="commentForm">
                        <div class="input-field">
                            <textarea name="text" class="materialize-textarea" formControlName="content" required></textarea>
                            <label style="left:0" for="text">Dein Kommentar</label>
                        </div>
                        <br/>
                        <input  class="waves-effect waves-light orange btn" type="submit" value="Abschicken">
                    </form>
                    <br/>
                    <br/>
                </div>
        </div>

        <div class="row"  *ngFor="let comment of (event|async)?.comments.data">
            <div class="col s12 m6">
                <div class="col s3">
                    <a [routerLink]="['/profile/' + comment.user_id]"><img class="circle eventDetailAvatar" alt="" (click)="goToProfile()" src="{{IMAGE_URL}}{{comment?.avatar_detail}}"></a>
                </div>
                <div class="col s9">
                    <div><a class="white-text" [routerLink]="['/profile/' + comment.user_id]"><b>{{comment.firstname}} {{comment.lastname}}</b></a> | {{comment.created_at }}</div>
                    <p style="white-space: pre-line;">
                        {{comment.content}}
                    </p>
                </div>
            </div>
        </div>

        </div>

        <div id="modal1" class="modal modal-fixed-footer">
            <form (ngSubmit)="sendMail()" [formGroup]="mailForm">
                <div class="modal-content">
                    <h4 class="black-text">Mail an die Teilnehmer</h4>
                    <br/><br/>
                    <label for="subject">Dein Betreff</label>
                    <input type="text" formControlName="subject" name="subject" class="materialize-input black-text">
                    <label for="message">Deine Nachricht</label>
                    <textarea formControlName="message" name="message" class="materialize-textarea black-text"></textarea>        
                </div>
                <div class="modal-footer">
                    <input type="submit" class="modal-action waves-effect waves-effect waves-light btn" value="Abschicken">
                    <a class="modal-close waves-effect btn-flat ">Abbrechen</a>
                </div>
            </form>
        </div>
        
        <div id="modalDeleteEvent" class="modal">
            <div class="modal-content">
                <p class="black-text">Bist du sicher, dass du das Event löschen willst?<br> Alle angemeldeten Teilnehmer werden benachrichtigt.</p>
            </div>
            <div class="modal-footer">
                <button class="modal-action modal-close waves-effect waves-effect waves-light btn" (click)="deleteEvent(true)" >Ja, löschen</button>
                <a (click)="deleteEvent(false)"  class="modal-action modal-close waves-effect waves-green btn-flat">Nein</a>
            </div>
        </div>

        <div id="modalCancelAttendanceEvent" class="modal">
            <div class="modal-content">
                <p class="black-text">Bist du sicher, dass du den Teilnehmer abmelden willst?</p>
            </div>
            <div class="modal-footer">
                <button class="modal-action modal-close waves-effect waves-effect waves-light btn" (click)="cancelAttendanceEvent(true)" >Ja</button>
                <a (click)="deleteEvent(false)"  class="modal-action modal-close waves-effect waves-green btn-flat">Nein</a>
            </div>
        </div>


        <qcfooter></qcfooter>
    </div>
</main>
