<sidebar></sidebar>
<main>
    <div class="container">
        <form (ngSubmit)="onSubmit()" [formGroup]="eventForm" *ngIf="dataLoaded">
            <div class="row">
                <div id="previewPicOverlay" class="col s12 orange">
                    <div class="row profileRow">
                        <div id='previewPic' class="col s12  profileCol" [ngStyle]="{'background-image': 'url(' +previewPicPath+ ')'}" *ngIf="page_mode == 'new'">
                            <h2>Event erstellen</h2>
                            <div>Lade in wenigen Schritten eine Veranstaltung hoch, um dein Wissen zu teilen oder gemeinsam Lösungen zu erarbeiten.</div>
                            <br/>
                            <br/>
                        </div>
                        <div class="col s12  profileCol" *ngIf="page_mode == 'edit'">
                            <h2>{{ event.title }}</h2>
                            <div>Bearbeite in wenigen Schritten deine Veranstaltung.</div>
                            <br/>
                            <br/>
                        </div>
                    </div>
                </div>
                <ul class="tabs orange eventNewTabs">
                    <li class="tab col s4" [ngClass]="{'disabled orange lighten-2': viewstep != 1}"><a [class.active]="viewstep == 1">1. Format</a></li>
                    <li class="tab col s4" [ngClass]="{'disabled orange lighten-2': viewstep != 2}"><a [class.active]="viewstep == 2">2. Inhalt</a></li>
                    <li class="tab col s4" [ngClass]="{'disabled orange lighten-2': viewstep != 3}"><a [class.active]="viewstep == 3">3. Zeit & Ort</a></li>
                </ul>
            </div>

            <div [hidden]="viewstep != 1">

                <div class="row">
                    <div class="col s12 m6">
                        <h3>Was für eine Art Event richtest du aus?</h3>
                        <p>Detaillierte Infos zu den einzelnen Formaten findest du <a href="">hier</a></p>
                        <br/>
                        <br/>
                        <p>
                            <input formControlName="type" name="type" type="radio" id="talk" value="talk" (click)="changeEventType()" />
                            <label for="talk" class="eventNewRadio">
                                <div class="row">
                                    <div class="col s4">
                                        <img style="display: block; width: 100%;" src="img/talk@2x.png">
                                    </div>
                                    <div class="col s8">    
                                        <b>Talk</b><br/>Klassisches one-to-many Format. Kollegen teilen Ihr Fachwissen zu einem bestimmten Thema
                                    </div>
                                </div>
                            </label>
                        </p>
                        <p>
                            <input formControlName="type" name="type" type="radio" id="workshop" value="workshop" (click)="changeEventType()"/>
                            <label for="workshop" class="eventNewRadio">
                                <div class="row">
                                    <div class="col s4">
                                        <img style="display: block; width: 100%;" src="img/workshop@2x.png">
                                    </div>
                                    <div class="col s8">    
                                        <b>Workshop</b><br/>Interaktives many-to-many Format, Kollegen entwickeln gemeinsam Ideen
                                    </div>
                                </div>
                            </label>
                        </p>
                        <p>
                            <input formControlName="type" name="type" type="radio" id="freizeit" value="freizeit" (click)="changeEventType()" />
                            <label for="freizeit" class="eventNewRadio">
                                <div class="row">
                                    <div class="col s4">
                                        <img style="display: block; width: 100%;" src="img/freestyle@2x.png">
                                    </div>
                                    <div class="col s8">    
                                        <b>Freizeit &amp; Sport</b><br/>Kollegen organisieren Treffen zu Freizeit-Themen außerhalb der Arbeitszeit
                                    </div>
                                </div>
                            </label>
                        </p>
                    </div>

                    <div class="col s12 m6">
                        <h3>Wie viele Teilnehmer können an deinem Event teilnehmen?</h3>
                        <p>Du wirst benachrichtigt, sollten sich weniger oder mehr Kollegen anmelden</p>
                        <br/>
                        <br/>
                        <div class="col s6">
                            <label for="min_attendee">Min.</label>
                            <input formControlName="min_attendees" >
                        </div>
                        <div class="col s6">
                            <label for="max_attendee">Max.</label>
                            <input formControlName="max_attendees" >
                        </div>
                    </div>
                </div>
            </div>

            <div [hidden]="viewstep != 2">

                <div class="row">
                    <div class="col s12 m6">
                        <h3>Worüber möchtest du referieren?</h3>
                        <br/>
                        <br/>
                        <label for="title">Eventtitel</label>
                        <input formControlName="title" name="title" placeholder="zB. Leadership Excellence">
                        <div class="input-field">
                            <textarea formControlName="description" id="about" class="materialize-textarea" placeholder="zB. super spannender Talk zum Thema X"></textarea>
                            <label style="left:0" for="about">Kurzbeschreibung</label>
                        </div>

                        <label>Schlagwörter</label>
                           <p class="eventNewCheckboxes"  *ngIf="eventForm.controls['type'].value == 'freizeit'">
                                <span *ngFor="let freizeit_keyword of freizeit_keywords" >
                                    <input formControlName="{{freizeit_keyword}}"  type="checkbox" id="{{freizeit_keyword}}" name="customTopics[]" (click)="toogleTopic($event)"/>
                                    <label attr.for="{{freizeit_keyword}}" >{{freizeit_keyword}}</label>
                                 </span>
                            </p>

                            <p class="eventNewCheckboxes"  *ngIf="eventForm.controls['type'].value == 'talk'">
                                <span *ngFor="let talk_keyword of talk_keywords">
                                    <input formControlName="{{talk_keyword}}"  type="checkbox" id="{{talk_keyword}}" name="customTopics[]" (click)="toogleTopic($event)"/>
                                    <label attr.for="{{talk_keyword}}" >{{talk_keyword}}</label>
                                </span>
                            </p>

                            <p class="eventNewCheckboxes" *ngIf="eventForm.controls['type'].value == 'workshop'">
                                <span *ngFor="let workshop_keyword of workshop_keywords" >
                                    <input formControlName="{{workshop_keyword}}"  type="checkbox" id="{{workshop_keyword}}" name="customTopics[]" (click)="toogleTopic($event)" />
                                    <label attr.for="{{workshop_keyword}}" >{{workshop_keyword}}</label>
                                </span>
                            </p>

            
                    </div>

                    <div class="col s12 m6">
                        <h3>Wenn du magst, lade noch ein Bild zur Veranstaltung hoch!</h3>
                        <br/>
                        <br/>
                        <div class="file-field input-field">
                            <div class="waves-effect waves-light btn orange">
                                <span>(Optional) Max. 3 MB</span>
                                <input id="eventAvatar" type="file" ng2FileSelect [uploader]="uploader" (change)="enableConfirm()" accept="image/*" class="waves-effect waves-light btn orange" />
                            </div>
                            <div class="file-path-wrapper">
                                <input id="eventAvatarFile" class="file-path validate" type="text" (mouseout)="checkPhoto()" >
                            </div>
                            <span><small>* Mindestbildgröße 960x200px</small></span>
                        </div>
                        <br/>
                        <div [hidden] = "!confirmShow">
                            <input type="checkbox" id="copyright_confirm_event" checked disabled (click)="uploadEventPicTemp()"/>
                            <label for="copyright_confirm_event">Hiermit bestätige ich, dass ich alle Rechte am von mir hochgeladenen Bild halte.</label>
                        </div>
                        <br>
                        <br>
                         <div class="file-field input-field">
                            <div class="waves-effect waves-light btn orange">
                                <span>Dokumente</span>
                                <input id="eventDocuments" multiple type="file" ng2FileSelect [uploader]="docsUploader" class="waves-effect waves-light btn orange" />
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div [hidden]="viewstep != 3">

                <div class="row">
                    <div class="col s12 m6">
                        <h3>Wann findet dein Event statt?</h3>
                        <br/>
                        <br/>
                        <div class="row">
                            <div class="col s12 m6">
                                <div>
                                    <label for="start_date">Datum</label>
                                    <input formControlName="start_date" name="start_date" placeholder="dd.mm.jjjj" type="text" class="datepicker" materialize="pickadate">
                                </div>
                            </div>
                            <div class="col s12 m3">
                                <div>
                                    <label for="start_time">Beginn</label>
                                    <input type="time" formControlName="start_time"  name="start_time" placeholder="HH:mm:ss">
                                </div>
                            </div>
                            <div class="col s12 m3">
                                <div>
                                    <label for="end_time">Ende</label>
                                    <input type="time" formControlName="end_time"  name="end_time" placeholder="HH:mm:ss">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <select formControlName="repeat" name="repeat" [(ngModel)]="repeat" materialize="material_select">
                                    <option value="none" selected>Ohne</option>
                                    <option value="daily">Täglich</option>
                                    <option value="weekly">Wöchentlich</option>
                                    <option value="monthly">Monatlich</option>
                                    <option value="yearly">Jährlich</option>
                                    <option value="custom">Eigene</option>
                                </select>
                                <label>Wiederholen</label>
                            </div>
                        </div>
                        <div class="row" [hidden]="repeat != 'daily'">
                           <div class="col s6">
                                <div [hidden]="!repeat || repeat == 'none'">
                                    <label for="repeat_end_daily">Bis</label>
                                    <input formControlName="repeat_end_daily" name="repeat_end_daily" placeholder="dd.mm.jjjj" type="date" class="datepicker" materialize="pickadate">
                                </div>
                            </div>
                        </div>
                        <div class="row" [hidden]="repeat != 'weekly'">
                            <div class="input-field col s6">
                                <select formControlName="repeat_cycle_weekly" name="repeat_cycle_weekly" materialize="material_select" multiplexxx>
                                    <option value="1" selected>Woche</option>
                                    <option value="2">2. Woche</option>
                                    <option value="3">3. Woche</option>
                                    <option value="4">4. Woche</option>
                                    <option value="5">5. Woche</option>
                                    <option value="6">6. Woche</option>
                                    <option value="7">7. Woche</option>
                                    <option value="8">8. Woche</option>
                                    <option value="9">9. Woche</option>
                                    <option value="10">10. Woche</option>
                                    <option value="11">11. Woche</option>
                                    <option value="12">12. Woche</option>
                                    <option value="13">13. Woche</option>
                                    <option value="14">14. Woche</option>
                                    <option value="15">15. Woche</option>
                                </select>
                                <label for="repeat_cycle_weekly">Jede</label>
                            </div>
                            <div class="col s6">
                                <div>
                                    <label for="repeat_end_weekly">Bis</label>
                                    <input formControlName="repeat_end_weekly" name="repeat_end_weekly" placeholder="dd.mm.jjjj" type="date" class="datepicker" materialize="pickadate">
                                </div>
                            </div>
                            <div class="input-field col s6">
                                <select formControlName="repeat_day_weekly" name="repeat_day_weekly" materialize="material_select" multiplexxx>
                                    <option value="monday" selected>Montag</option>
                                    <option value="tuesday">Dienstag</option>
                                    <option value="wednesday">Mittwoch</option>
                                    <option value="thursday">Donnerstag</option>
                                    <option value="friday">Freitag</option>
                                    <option value="saturday">Samstag</option>
                                    <option value="sunday">Sonntag</option>
                                </select>
                                <label for="repeat_day_weekly">Am</label>
                            </div>
                        </div>
                        <div class="row" [hidden]="repeat != 'monthly'">
                            <div class="input-field col s6">
                                <select formControlName="repeat_cycle_monthly" name="repeat_cycle_monthly" materialize="material_select" multiplexxx>
                                    <option value="1" selected>Monat</option>
                                    <option value="2">2. Monat</option>
                                    <option value="3">3. Monat</option>
                                    <option value="4">4. Monat</option>
                                    <option value="5">5. Monat</option>
                                    <option value="6">6. Monat</option>
                                    <option value="7">7. Monat</option>
                                    <option value="8">8. Monat</option>
                                    <option value="9">9. Monat</option>
                                    <option value="10">10. Monat</option>
                                    <option value="11">11. Monat</option>
                                    <option value="12">12. Monat</option>
                                    <option value="13">13. Monat</option>
                                    <option value="14">14. Monat</option>
                                    <option value="15">15. Monat</option>
                                    <option value="16">16. Monat</option>
                                    <option value="17">17. Monat</option>
                                    <option value="18">18. Monat</option>
                                    <option value="19">19. Monat</option>
                                    <option value="20">20. Monat</option>
                                    <option value="21">21. Monat</option>
                                    <option value="22">22. Monat</option>
                                    <option value="23">23. Monat</option>
                                    <option value="24">24. Monat</option>
                                </select>
                                <label for="repeat_cycle_monthly">Jeden</label>
                            </div>
                            <div class="col s6">
                                <div>
                                    <label for="repeat_end_monthly">Bis</label>
                                    <input formControlName="repeat_end_monthly" name="repeat_end_monthly" placeholder="dd.mm.jjjj" type="date" class="datepicker" materialize="pickadate">
                                </div>
                            </div>
                            <div class="input-field col s6">
                                <select formControlName="repeat_day_monthly" name="repeat_day_monthly" materialize="material_select" multiplexxx>
                                    <option value="1" selected>1. Tag des Monats</option>
                                    <option value="2">2. Tag des Monats</option>
                                    <option value="3">3. Tag des Monats</option>
                                    <option value="4">4. Tag des Monats</option>
                                    <option value="5">5. Tag des Monats</option>
                                    <option value="6">6. Tag des Monats</option>
                                    <option value="7">7. Tag des Monats</option>
                                    <option value="8">8. Tag des Monats</option>
                                    <option value="9">9. Tag des Monats</option>
                                    <option value="10">10. Tag des Monats</option>
                                    <option value="11">11. Tag des Monats</option>
                                    <option value="12">12. Tag des Monats</option>
                                    <option value="13">13. Tag des Monats</option>
                                    <option value="14">14. Tag des Monats</option>
                                    <option value="15">15. Tag des Monats</option>
                                    <option value="16">16. Tag des Monats</option>
                                    <option value="17">17. Tag des Monats</option>
                                    <option value="18">18. Tag des Monats</option>
                                    <option value="19">19. Tag des Monats</option>
                                    <option value="20">20. Tag des Monats</option>
                                    <option value="21">21. Tag des Monats</option>
                                    <option value="22">22. Tag des Monats</option>
                                    <option value="23">23. Tag des Monats</option>
                                    <option value="24">24. Tag des Monats</option>
                                    <option value="25">25. Tag des Monats</option>
                                    <option value="26">26. Tag des Monats</option>
                                    <option value="27">27. Tag des Monats</option>
                                    <option value="28">28. Tag des Monats</option>
                                    <option value="29">29. Tag des Monats</option>
                                    <option value="30">30. Tag des Monats</option>
                                    <option value="31">31. Tag des Monats</option>
                                </select>
                                <label for="repeat_day_monthly">Am</label>
                            </div>
                        </div>
                        <div class="row" [hidden]="repeat != 'yearly'">
                            <div class="input-field col s6">
                                <select formControlName="repeat_cycle_yearly" name="repeat_cycle_yearly" materialize="material_select" multiplexxx>
                                    <option value="1" selected>Jahr</option>
                                    <option value="2">2. Jahr</option>
                                    <option value="3">3. Jahr</option>
                                    <option value="4">4. Jahr</option>
                                    <option value="5">5. Jahr</option>
                                    <option value="6">6. Jahr</option>
                                    <option value="7">7. Jahr</option>
                                    <option value="8">8. Jahr</option>
                                    <option value="9">9. Jahr</option>
                                    <option value="10">10. Jahr</option>
                                </select>
                                <label for="repeat_cycle_yearly">Jedes</label>
                            </div>
                            <div class="col s6">
                                <div>
                                    <label for="repeat_end_yearly">Bis</label>
                                    <input formControlName="repeat_end_yearly" name="repeat_end_yearly" placeholder="dd.mm.jjjj" type="date" class="datepicker" materialize="pickadate">
                                </div>
                            </div>
                            <div class="col s6">
                                <div>
                                    <label for="repeat_day_yearly">Am</label>
                                    <input formControlName="repeat_day_yearly" name="repeat_day_yearly" placeholder="dd.mm.">
                                </div>
                            </div>
                        </div>
                        <div class="row" [hidden]="repeat != 'custom'">
                           <div class="col s6">
                                <div>
                                    <label for="repeat_custom">Wiederholung</label>
                                    <input name="custom_days" [ngModel]="custom_days" (ngModelChange)="addDay()" placeholder="dd.mm.jjjj" type="date" class="datepicker" materialize="pickadate">
                                </div>
                            </div>
                            <div class="col s6">
                             <div *ngFor="let day of repeatDays; let i = index">
                               
                                 {{day}}<i *ngIf="day" class="tiny material-icons" (click)="removeDay(i)">delete</i>
                            </div>
                            <br>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m6">
                        <h3>Wo findet dein Event statt?</h3>
                        <br/>
                        <br/>
                        <label for="host_company">Firma</label>
                        <input formControlName="host_company" type="text" name="host_company">

                        <div class="row">
                            <div class="col s12 m10">
                                <div>
                                    <label for="host_street">Straße</label>
                                    <input formControlName="host_street" name="host_street" type="text">
                                </div>
                            </div>
                            <div class="col s12 m2">
                                <div>
                                    <label for="host_house_number">Hausnr.</label>
                                    <input formControlName="host_house_number" name="host_house_number" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 m4">
                                <div>
                                    <label for="host_zip">PLZ</label>
                                    <input formControlName="host_zip" name="host_zip" type="number">
                                </div>
                            </div>
                            <div class="col s12 m8">
                                <div>
                                    <label for="host_city">Stadt</label>
                                    <input formControlName="host_city" name="host_city" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="input-field">
                            <textarea formControlName="host_details" id="host_details" class="materialize-textarea" placeholder="zB. Etage, Raum etc."></textarea>
                            <label style="left:0" for="host_details">Details</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s6">
                    <br/>
                    <br/>
                    <a class="btn-flat orange-text" [class.hide]="viewstep == 1" (click)="prevPage()">Zurück</a>
                </div>
                <div class="col s6">
                    <br/>
                    <br/>
                    <a class="orange btn" [class.hide]="viewstep == 3" (click)="nextPage()">Weiter</a>
                    <input type="submit" class="waves-effect waves-light orange btn" [class.hide]="viewstep < 3" value="Event speichern">
                </div>
            </div>
        </form>

       <input type="hidden" data-target="modal1" materialize="leanModal" [materializeParams]="[{dismissible: false}]">

        <div id="modal1" class="modal">
            <div class="modal-content">
                <p class="black-text">Dein Event wurde erstellt. Möchtest du ein weiteres Event erstellen?</p>
            </div>
            <div class="modal-footer">
                <button class="modal-action modal-close waves-effect waves-effect waves-light btn" (click)="clearForm()" >Ja, weiteres Event erstellen</button>
                <a [routerLink]="['/events']" class=" modal-action modal-close waves-effect waves-green btn-flat">Nein</a>
            </div>
        </div>

        <qcfooter></qcfooter>
    </div>
</main>